# Symfony directories
/vendor/
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
src/AirAtlantique/GeneratorBundle/Ressources/public/json/flight.json
src/AirAtlantique/GeneratorBundle/Ressources/public/json/rule.json