{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
	  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		{% javascripts 
			'bootstrap/js/*'
	 	%}
			<script src='{{ asset_url }}' type="text/javascript"></script>
		{% endjavascripts %}
		{% stylesheets 
			'bundles/AirAtlantique/css/*'
			'bootstrap/css/*'
	  	filter='cssrewrite' 
	  %}
			<link rel="stylesheet" type="text/css" href="{{ asset_url }}">
		{% endstylesheets %}

		{% block stylesheets %}{% endblock %}
		
		<title>
			{% block title %}AirAtlantique{% endblock %}
		</title>

	</head>

	<body>
		<div class='container-fluid'>
			<div class='row-fluid span12'>

				{% include '::header.html.twig' %}
				{% block body %}{% endblock %}
				{% include '::footer.html.twig' %}
				

				

				{% block script %}{% endblock %}
			</div>
		</div>
	</body>
</html>