{% block footer %}
<footer>
  <div class='row'>
    <div class="twelve columns">
      <p>AirAtlantique Copyright © 2013</p>
    </div>
  </div>
  <div class="row">
    <div class="four columns"><p>blop</p></div>
    <div class="four columns"><p>blop</p></div>      
    <div class="four columns"><p>blop</p></div>
  </div>
</footer>
{% endblock %}