{% block header %}
  <div class='header row-fluid span12'>
    <div class='header-left span4'>
      <a href="#"><img src='/bundles/AirAtlantique/img/logoAA.png'></a>
    </div>
    {% include '::menu.html.twig' %}
    <div class='header-right span4'>blop blop blop</div>
  </div>
{% endblock %}