{% block header %}
  <div class='header row-fluid span12'>
    <div class='span3 header-left '>
      <a href="{{ path('flight_home') }}"><img src='/bundles/AirAtlantique/img/logoAA.png'></a>
    </div>
    {% include '::menu.html.twig' %}
    {% include '::module.html.twig' %}
  </div>
{% endblock %}
