{% block menu %}
  <div class='header-center span4'>
    <ul class="unstyled menu">
      <li>
        <a href="{{ url('static', {'slug': 'news'}) }}">Vols & Destinations | </a>
      </li>
      <li>
        <a href="{{ url('static', {'slug': 'news'}) }}">Infos Voyageurs | </a>
      </li>
      <li>
        <a href="{{ url('static', {'slug': 'news'}) }}">Classe & Confort | </a>
      </li>
      <li>
        <a href="{{ url('static', {'slug': 'news'}) }}">Solution grand voyageur</a>
      </li>
    </ul>
  </div>
{% endblock %}