{% block menu %}
  <div class='span6 header-center'>
    <ul class="unstyled menu">
      <li>
        <a href="{{ url('static', {'slug': 'news'}) }}">Vols & Destinations  </a>|
      </li>
      <li>
        <a href="{{ url('static', {'slug': 'news'}) }}">Infos Voyageurs  </a>|
      </li>
      <li>
        <a href="{{ url('static', {'slug': 'confortClass'}) }}">Classe & Confort  </a>|
      </li>
      <li>
        <a href="{{ url('static', {'slug': 'news'}) }}">Solution grand voyageur</a>
      </li>
    </ul>
  </div>
{% endblock %}