parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: AirAtlantique
    database_user: root
    database_password: root
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: fr
    secret: d8cf364b5a4a607ba235c34cf52bbb91
    app_webmaster: moi-même
    database_path: null
