{% extends '::base.html.twig' %}
  {% block body %}
    <div class="container">
      {% for planeTicket in planeTickets %}
        {{ planeTicket.ticketnumber }}
        {{ planeTicket.flight.flightName }}
        {{ planeTicket.seat.name }}
        {{ planeTicket.price }}
      {% else %}
        vous n'avez actuellement aucun vol dans votre panier
      {% endfor %}
    </div>
  {% endblock %}