{% extends '::base.html.twig' %}
{% block body %}
    <div class='row-fluid span12'>
      <div class="container body static">
        <img src="/bundles/AirAtlantique/img/avion.png">
        <p>Air Atlantique est la principale compagnie aérienne d’atlantique. Air Atlantique est fondée en 1948, 
        ses activités principales sont le transport de passagers, de fret ainsi que la maintenance et l'entretien 
        des avions. Elle dessert les principaux aéroports des pays bordant l’océan atlantique, ainsi qu'un très 
        grand nombre de destinations plus lointaines. Sa plateforme de correspondance principale est située 
        sur l'aéroport Paris-Charles-de-Gaulle avec lequel elle entretient de nombreux accords d'exploitation.</p>

        <h3>Histoire</h3> 
        <h4>1948-1960</h4>
        <p>Air Atlantique est fondé le 7 octobre 1948 par le vote par le parlement d'une loi de fusion de 4 
        compagnies principales du transport aérien. Les quatre compagnies fusionnées sont : Air Orient, Air 
        Occident, la Air Nadir et Air Zénith, la fusion donnant lieu à une société anonyme au capital de 80 
        millions de francs pour lutter contre l’absorption par Air France de ses filiales Air Bleu et Air 
        Atlantique Transatlantique. En 1953, Air Atlantique se modernise en introduisant le Lockheed 
        Constellation dans sa flotte pour les vols transatlantiques. Au début des années 1960, Air Atlantique 
        met en service les nouveaux avions à réaction de l'époque, la Caravelle et le Boeing 707, réduisant 
        ainsi de moitié les temps de vol et améliorant le confort des passagers. </p>
        <h4>1960-1973 </h4>
        <p>Le 23 février 1960 le Ministère des Travaux Publics et Transports transfère le monopole des liaisons 
        intérieures d'Air France à Air Inter. En compensation Air France reçoit une participation dans Air 
        Inter. Le jour suivant, Air France reçoit par instruction ministérielle l'ordre de partager ses liaisons 
        africaines avec les compagnies UAT et Air Afrique. Pour réagir face à cela, Air Atlantique se tourne 
        vers ses destinations de prédilection et développe les voyages vers l’Amérique du sud et l’Afrique 
        équatoriale. Dans la lignée de son concurrent Air France, Air Atlantique devient plus tard un des 
        premiers opérateurs du jumbo quadri-réacteurs long-courrier Boeing 747 (à deux ponts) et en aura 
        une des plus grosses flottes au monde. </p>
        <h4>Depuis 1974 </h4>
        <p>En 1974, elle s'installe à la nouvelle aérogare de Roissy, introduisant les avions gros-porteurs à sa 
        flotte soit l'Airbus A300 et le Boeing 747. 
        Le 11 décembre 2009, Air Atlantique a reçu son premier Airbus A380 et le 12 février 2010, la 
        compagnie a effectué le vol inaugural de l'A380 entre Paris et New York avec 538 passagers à bord</p>
      </div>
    </div>
{% endblock %}