{% extends '::base.html.twig' %}
{% block body %}
    <div class='row-fluid span12'>
      <div class="container body static">
        <h3>Cabine des vols long-courrier</h3> 
        <h4>La Première</h4> 

        <p>La cabine "La Première" qui se veut l'expression du luxe à la française, est constituée de 4 à 9 (A380) 
        sièges. Ceux-ci sont faits de bois et comporte une assise de cuir qui s'incline jusqu'à 180° pour former 
        un lit de 2 mètres de long. Chaque siège comprend un système de divertissement dont l'écran 
        mesure 26,5 cm, une fonction auto-massage, une lampe de lecture, un tiroir de rangement, un 
        casque anti-bruit, des ports d'alimentation d'ordinateur portable ainsi qu'une couverture, une 
        couette et un oreiller.</p>
        <p>Dans les aéroports équipés un accès aux salons de la classe Première est offert. À Roissy-Charles de 
        Gaulle, le passager dispose d'un point de rendez-vous unique au terminal 2E. Un porteur qui prend 
        en charge l'enregistrement de ses bagages, l'accompagne jusqu'au vestibule d'enregistrement puis 
        au salon "La Première". Il bénéficie d'un passage facile aux postes d'inspection filtrage lui permettant 
        de gagner du temps. Au moment de l'embarquement, le passager est emmené directement au pied 
        de l'avion par une voiture privée. À son entrée à bord, l'équipage lui est présenté. 
        Un nouveau fauteuil est déployé sur les deux nouveaux Airbus A380 qui ont été livrés en mai et juin 
        2012. Il comporte un nouveau siège équipé de nouvelles commandes plus intuitives qui permet de 
        préserver l'intimité de chaque passager grâce à l'écran de séparation modulable et des parois 
        latérales de la coque rehaussées. L'harmonie de la cabine a été également revue avec un camaïeu de 
        gris chauds, des couleurs plus claires, délicates, et lumineuses, valorisées par les lumières 
        d’ambiance. Le tissu des housses, proche du tissu d’ameublement, le cuir très qualitatif, et la 
        moquette moelleuse contribuent à créer un environnement haut de gamme, cosy et chaleureux. Ces 
        nouveaux fauteuils seront déployés sur tous les A380 et sur certains Boeing 777 d'ici 2015</p>

        <h4>Business</h4> 

        <p>La classe Business (précédemment nommée L'Espace Affaires puis Affaires) est présente sur tous les 
        vols longs-courriers d'Air Atlantique. Elle est donc proposée sur les Airbus A380 et les Boeing 777-
        200ER et 777-300ER, mais a contrario de La Première également sur les Airbus A330/A340, Boeing 
        747-400 et certains Boeing 777 vers les destinations loisirs. La classe "Business" est composée d'un 
        siège couchette transformable en un lit de 2 mètres de long, chaque siège comprend, un écran tactile 
        de 26,5 cm avec le système de divertissement en vol ainsi qu'une liseuse personnelle, et des ports 
        pour ordinateurs portables. Le service de repas propose trois repas et un service de fromage, ou un 
        menu express servi peu de temps après le décollage. Un nouveau siège est introduit depuis fin 2010 par Air Atlantique, toujours à coque fixe pour préserver l’intimité du passager, le siège Business d’Air Atlantique offrira davantage de confort grâce à différentes innovations dont une nouvelle architecture offrant un lit de plus de deux mètres et un nouveau repose-pieds fixe, des commandes plus simples et plus intuitives, de nouveaux rangements, un grand écran 16/9 de 15 pouces (ou 38 centimètres). Ce siège se nomme " NEV 4".</p>

        <p>La mise en place de ces sièges Business s’accompagne d’une nouvelle harmonie de couleurs créant un univers sobre, feutré et clair, participant à la luminosité globale de la cabine et au confort des clients. En termes de calendrier, dès l’été 2011, plus d’une vingtaine d’appareils bénéficieront de ces nouvelles cabines. À l’horizon 2013, près de quarante appareils (Airbus A330/340, Boeing 777, Boeing 747-400, Airbus A380) seront équipés. Au niveau des salons, le plus grand salon Business du réseau d'Air Atlantique (3 000 m2
        ) a ouvert ses portes le 28 juin 2012 lors de l'inauguration du satellite d'embarquement S4 à Paris-Charles de 
        Gaulle. </p>

        <h4>Premium Economy</h4>

        <p>La classe "Premium Economy" (précédemment divisée en Premium Voyageur sur les vols internationaux et Alizé vers les Antilles et La Réunion) est disponible à bord de tous les avions long-courrier s d'Air Atlantique. Elle dispose d'une configuration plus spacieuse avec un nouveau siège à coque fixe s'inclinant à 123° équipé d’un repose-jambes réglable en hauteur avec repose-pieds ajustable, d’un appuie-tête réglable en hauteur avec ailettes rabattables, d'un écran individuel de 26 cm, d'une prise pour ordinateur, d'un casque audio à réduction de bruit et 38 cm de longueur en plus pour les jambes. Sur les vols vers les départements d'outre-mer, un choix de deux repas français ou créole et une boisson avant le départ sont offerts. Selon les appareils, 21 (A330/340) à 38 sièges (A380) sont disponibles et les déploiement progressif Premium Economy couvre toute la flotte long-courriers à l'exception du Boeing 747-400. </p>

        <h4>Economy</h4>
        <p>La classe "Economy" (précédemment nommée Tempo puis Voyageur) est la classe économique d'Air Atlantique. Elle comprend des sièges inclinables à 119° et les derniers sièges de la classe économique sur les vols longs-courrier mis en service (renouvellement qui a débuté sur les Boeing 777-300ER desservant les Caraïbes et l'océan Indien) comprend un appui-tête réglable, un repose-pied et un écran tactile avec un programme de divertissement en vol. Ce système est désormais installé sur tous les sièges des vols longs-courriers d'Air Atlantique. À bord des vols longs-courriers, un choix (si disponible) entre deux plats est proposé. Du champagne est disponible lors de l'apéritif sur les vols longs-courrier44. Sur les vols de plus de 10h30, un buffet est disponible.</p>

        <h3>Vols intérieurs et européens</h3> 
        <h4>Business</h4>
        <p>La classe "Business" (précédemment nommée L'Espace Affaires puis Premium Affaires) est une classe affaires disponible sur les vols vers l'Europe ainsi que vers l'Afrique du Nord et Israël (hors bases de province). Elle est réservée aux clients qui souhaitent mettre en avant le confort. Les premiers rangs de la cabine des A319/320/321 est aménagée avec 4 sièges de front par rangée (une tablette neutralise le siège central). Des sièges plus larges laissent 5 centimètres d’espace supplémentaires pour les jambes (à l'exception des A318 et les compagnies franchisées ou affrétées) par rapport au reste de la cabine. Au début du repas, un oshibori d'accueil et un apéritif est proposé sur tous les vols. Un véritable plateau repas, nouveauté inspirée des vols longs-courriers, est ensuite servi aux passagers Business sur tous les vols moyens-courriers. Le contenu de ce plateau est adapté à l’heure de la journée et comporte un menu complet avec une entrée, un plat et un dessert, adaptés en fonction de la durée du vol. Sur les vols de plus de 2h30, le plat principal est servi chaud et les clients peuvent déguster leur repas dans une vaisselle en porcelaine, comme sur un vol long-courrier, dès 3 heures de vol. </p>

        <h4>Premium Economy</h4> 

        <p>La classe "Premium Economy" (précédemment nommée Tempo Challenge puis Premium Eco) est une classe économique supérieure disponible sur les vols vers l'Europe ainsi que vers l'Afrique du Nord et Israël (hors bases de province) réservée à une clientèle qui souhaite mettre en avant la flexibilité. La cabine des A318/319/320/321 est séparée de la cabine Economy par un rideau mobile pour plus de confort. Une nouvelle offre de repas inspirée de ceux servis sur les vols longs-courriers est proposée : les coffrets repas cèdent la place à un véritable plateau repas dont le contenu est adapté à la durée de vol et au moment de la journée. Comme en classe Business, le plat principal, servi chaud dès 2h30 de vol, est présenté dans une vaisselle en porcelaine sur les vols d’une durée supérieure à 3 heures.</p>

        <h4>Economy</h4>

        <p>La classe "Economy" (précédemment nommée Tempo puis Voyageur) est la classe économique d'Air Atlantique. Elle comprend, sur les vols domestiques et vers l'Europe au départ des bases de province, un tout nouveau siège plus léger et plus confortable avec une largeur d'assise de44 cm45. Air Atlantique est l'une des rares compagnies à proposer des appuis têtes de ce type en classe économique. Sur les vols moyens/courts-courriers, une collation est servie et lorsque le vol dure un peu plus de trois heures un repas froid de trois plats est servi. </p>

      </div>
    </div>
{% endblock %}