{% extends '::base.html.twig' %}
{% block body %}
    <div class='row-fluid span12'>
      <div class="container body static">
        <h3>Nous contacter</h3>
        <p>Air France met tout en œuvre pour répondre à vos questions et satisfaire vos demandes. N'hésitez pas à consulter notre FAQ ou à contacter l´un de nos conseillers.</p>

        <p>Avez-vous pensé à consulter notre FAQ ? Vous y trouverez certainement la réponse à votre question !
         ok 
        L'assistance internet</p>

        <h4>Air France</h4>

        <p>Vous rencontrez des difficultés pour utiliser nos services en ligne : réservation, modification, enregistrement en ligne, etc. (à l´exception des questions relatives à Flying Blue et aux services de réservation d’hôtels et de voitures), n'hésitez pas à consulter notre FAQ, disponible depuis l'encadré ci-dessus.
        Vous n'avez pas trouvé l'information souhaitée sur notre site ? Vous pouvez contacter nos équipes par téléphone au +33 (0)9 69 39 02 15 (appel non surtaxé), 7j/7, de 6 h 30 à 22 h 00.<p>

        <p>Pour les demandes non urgentes, vous pouvez également nous contacter par email directement en complétant le 
        formulaire d'assistance .<p>

        <p>Pour effectuer une réservation, obtenir notre programme en temps réel ou poser vos questions, vous pouvez contacter nos conseillers au 3654 (0.34 €/min), 7j/7 de 6 h 30 à 22 h 00.
        * +33 (0)892 70 26 54 depuis l´étranger.<p>
      </div>
    </div>
{% endblock %}