{% extends '::base.html.twig' %}
{% block body %}
    <div class='row-fluid span12'>
      <div class="container body static">
        <h3>Nos 8 engagements</h3>
        <h4>Toujours à vos côtés </h4>

        <p>Nous nous engageons à tout mettre en œuvre pour que votre voyage soit une expérience agréable et que vous gardiez l´esprit serein, même en cas d´imprévus.</p>

        <h4>Vous tenir informé</h4>


        <p>Jusqu´au départ de votre vol, nous vous informons d´un retard, d´une annulation ou d´un changement de porte d´embarquement.
        Notre service AF Connect nous permet de vous avertir à tout moment, par e-mail, SMS ou téléphone. Ce service gratuit est actif 24h/24 et 7j/7. Pour en bénéficier, saisissez vos contacts en toute sécurité dans votre compte Air Atlantique, votre compte RedCloud ou dans votre dossier de réservation.</p> 

        <p>Des informations actualisées sont également à votre disposition via nos sites internet et mobile, nos comptes Facebook et Twitter, ou auprès de votre agent de voyage.
        Enfin, tout au long de votre voyage, nos équipes sont présentes pour vous apporter une assistance personnalisée.</p>

        <h4>Vous répondre 7j/7 sur les médias sociaux</h4>


        <p>Quelle que soit votre demande, nous sommes présents via Twitter (@airfranceFR) ou Facebook. 
        Nos équipes mobilisées sur les médias sociaux sont disponibles 7j/7 aux heures ouvrées européennes. Elles vous répondent en français et en anglais. Vous pouvez toutefois nous adresser vos demandes en allemand, espagnol et italien. </p>
        <p>Vous pouvez aussi nous contacter par téléphone ou poser votre question sur notre site.</p>

        <h4>Vous proposer des solutions alternatives</h4>


        <p>En cas de retard ou annulation de votre vol, ou de correspondance manquée, nous trouvons ensemble la solution :
        nous faisons le maximum pour vous proposer une place sur l´un des prochains vols, en privilégiant les vols effectués par Air Atlantique, KLM ou l´un de nos partenaires SkyTeam,
        nous vous communiquons par e-mail, SMS ou téléphone votre nouvel horaire,
        si celui-ci ne vous convient pas, vous pouvez demander un autre vol directement auprès de nos centres d´appels, nos comptes sur les médias sociaux ou votre agence de voyage,
        dans certaines situations, vous pouvez également reporter votre voyage vous-même, depuis l´espace Consulter / modifier vos réservations. Restez informé de l'actualité de votre vol en temps réel sur airfrance.com.
        Si vous changez de vol, nous nous assurons que votre bagage soit bien livré à destination.</p>

        <p>Vous pouvez compter sur nous pour prendre en charge vos besoins de 1re nécessité (repas et boissons, carte de téléphone prépayée et solution d´hébergement si nécessaire).</p>

        <p>En cas de surréservation, ou si vous êtes amené à voyager dans une autre cabine que celle que vous aviez réservée, une compensation vous est attribuée.</p>

        <h4>Faciliter vos démarches</h4>


        <p>En cas de retard de plus de 5 heures ou d´annulation, vous pouvez choisir de :
        reporter votre voyage à une date ultérieure (en fonction des places disponibles),
        annuler votre voyage si celui-ci n´est plus opportun. Pour en demander le remboursement (hors frais de service), rendez-vous sur airfrance.com. Si vous avez acheté votre billet dans une agence de voyages, nous vous invitons à la contacter directement.
        Notre service client se tient à votre disposition pour vous répondre sur les conditions et les modalités de prise en charge si vous avez engagé des dépenses supplémentaires.</p>

        <h4>Veiller sur votre confort durant le vol</h4>


        <p>Notre personnel navigant met tout en œuvre pour rendre votre voyage agréable. Si vous constatez un désagrément à bord, concernant votre siège ou votre écran vidéo par exemple, nous vous proposons une alternative ou une compensation.</p>

        <h4>Vous avertir dès l´atterrissage, en cas de bagage manquant</h4>


        <p>Dès votre atterrissage, notre service AF Connect se charge de vous prévenir en cas de bagage manquant1, vous évitant ainsi une attente inutile à la livraison des bagages.</p>

        <p>Nos équipes au comptoir bagages remplissent le formulaire de déclaration avec vous afin de connaître immédiatement quel type de bagage elles doivent rechercher.</p>

        <p>Certaines escales 2 vous permettent de signaler tout bagage manquant directement sur notre site internet.</p>

        <p>Vous avez 7 jours après votre arrivée pour nous signaler tout incident concernant vos bagages. Nous vous contactons dès que votre bagage est prêt à être livré et vous remboursons vos achats de 1re nécessité.</p>

        <p>Nous vous dédommageons si votre bagage est endommagé ou si, malgré toutes nos recherches, votre bagage n´est pas retrouvé 21 jours après votre arrivée.</p>

        <h4>Vous faire bénéficier de services privilégiés</h4>


        <p>En tant que membre RedCloud, vous bénéficiez de services privilégiés. Les membres Élite bénéficient également d´un accès prioritaire à nos centres d´appels. Pour en savoir plus sur vos avantages, rendez-vous sur RedCloud.</p>
        <h4>Toujours à votre écoute</h4>


        <p>Nous mettons tout en œuvre pour faire de votre voyage une expérience agréable. Si nous n´avons pas su vous donner entière satisfaction, n´hésitez pas à nous en informer, en contactant notre Service Client qui reviendra vers vous au plus vite.
        Votre avis nous intéresse et nous vous remercions de vos retours, qui nous permettent de nous améliorer. Chaque expérience de voyage compte pour nous.
        1 Lorsque les coordonnées du client sont connues et les bagages localisés par Air Atlantique.
        2 Liste des escales éligibles : toutes les escales de France métropolitaine et Almaty, Athènes, Bergen, Berlin, Barcelone, Bruxelles, Düsseldorf, Erevan, Francfort, Genève, Göteborg, Hanovre, Helsinki, Kristiansand, Lisbonne, Linköping, Madrid, Mexico, Milan-Malpensa, New York-John F. Kennedy, Oslo, Sandefjord-Torp, Stavanger, Stockholm, Stuttgart, Trondheim et Vienne.
        3 Dans les limites prévues par nos conditions générales de transport.</p>

        <p>Air Atlantique met tout en œuvre pour respecter ses engagements commerciaux en complément des législations. Toutefois, en cas de circonstances exceptionnelles, la Compagnie peut être amenée à les adapter tout en respectant ses obligations réglementaires.</p>
      </div>
    </div>
{% endblock %}