{% extends '::base.html.twig' %}
{% block body %}
    <div class='row-fluid span12'>
      <div class="container body static">
        <h3>Conditions légales</h3>
        <h4>Société éditrice</h4>
<p>AirAtlantique<br>
Société Anonyme au capital de 22 236 579 Euros, 328 621 586 RCS Créteil, SIRET : 328 621 586 00051, APE : 621 Z
Siège Social : 2, avenue Charles Lindbergh 94636 Rungis Cedex France</p>

<p>Au départ de France, pour toute question liée à votre réservation, vous pouvez nous contacter au : 01.53.89.28.14 
Pour joindre notre service clientèle après voyage : 01.49.79.49.10 -> Choix 3 (Du lundi au vendredi entre 9h et 12h)</p>


<h4>Hébergement</h4>
<address>AirAtlantique<br>
Siège social<br>
402 336 085 R.C.S. Nanterre<br>
Immeuble Le Clemenceau II<br>
215 Avenue Georges Clemenceau<br>
92000 Nanterre</address>

<h4>Validité des offres</h4>
<p>Les offres de AirAtlantique ont toutes une date limite de validité qu'il vous appartient de vérifier. À cet égard, AirAtlantique attire votre attention sur le fait que certains moteurs de recherche continuent parfois de référencer d'anciennes pages du site contenant des offres dont la date limite de validité est expirée. Vous êtes donc invités à ne pas tenir compte.</p>

<h4>Absence de droit de rétractation et Mise en garde</h4>
<p>Conformément aux dispositions de l'article L 121-20-4 du Code de la consommation, vous ne disposez pas d'un droit de rétractation lors de l'achat de billets d'avion sur notre site.
Vous reconnaissez être parfaitement informé de la possibilité pour AirAtlantique de suspendre et/ou de modifier temporairement ou définitivement ses services en ligne à tout moment, en raison de contraintes techniques ou réglementaires sans que sa responsabilité puisse être engagée à ce titre en aucune manière.
Responsabilité
AirAtlantique ne peut être tenu responsable de l'exactitude des informations données par ses partenaires.</p>

<h4>Protection de la vie privée et des données personnelle</h4>
<p>Lorsque vous effectuez une réservation sur notre site, nous sommes amenés à collecter des informations personnelles vous concernant, dans le respect de la loi du 6 juillet 1978 modifiée, relative à l’informatique, aux fichiers et aux libertés (« Loi Informatique et Libertés »).
Conformément aux dispositions de la Loi Informatique et Libertés, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent, en adressant un courrier au Service Relations Clientèles de la compagnie situé 1 Rue Charles Tellier, 60000 BEAUVAIS cedex.
Données collectées par la compagnie :
Lorsque vous effectuez une réservation sur notre site, il vous est demandé de remplir des formulaires en ligne et d’indiquer : votre nom et prénom, votre date de naissance, votre adresse postale, votre adresse e-mail, votre numéro de téléphone, votre nationalité et numéro de passeport, les coordonnées de votre carte bancaire, et le cas échéant, vos préférences quant à vos réservations (modalités d’annulation ou de modification des billets, classe, type de repas, siège, etc.) ou concernant vos voyages et intérêts (destinations préférées, historique de réservations, etc.).</p>

<p>Traitement des données collectées :</p>

<p>Les données personnelles transmises lors de votre réservation sont traitées et utilisées par la compagnie dans le respect des dispositions de la Loi Informatique et Libertés.</p>

<p>La compagnie se réserve le droit d’utiliser les données collectées dans un but de communication promotionnelle, commerciale ou d’information, via différents supports.
Elles pourront également être utilisées dans le cadre d’études internes destinées à améliorer les services proposés et afin de satisfaire au mieux vos attentes.
Dans le cadre de l'application de mesures de sécurité renforcées, la compagnie est tenue de transmettre les données du vol et de tous les passagers voyageant depuis ou vers les États-Unis aux autorités américaines.
Les données vous concernant peuvent également être utilisées dans le cadre de certains traitements liés à des événements particuliers survenus lors d’un vol tels que : soins et dommages à bord (CRASDAB), rapports de débarquement d’un passager, rapports et comptes-rendus d’incident en vol (« Air Safety Report » – ASR), rapports d’incident en cabine (« Cabin Safety Report » – CSR ).
La compagnie peut être tenue légalement de divulguer les données transmises dans le cadre d’une action en justice ou sur réquisition judiciaire des autorités compétentes.
Vous pouvez accéder, par des liens hypertextes présents sur le site, aux sites de partenaires qui ne sont pas régis par les présentes dispositions. Vous êtes, en conséquence, invité à examiner les règles applicables à l’utilisation et à la divulgation des informations que vous aurez communiquées sur ces sites.</p>

<h4>Utilisation des cookies</h4>
<p>Un cookie est un morceau d'information compact (petit fichier d'un maximum de 4 ko) qui est sauvegardé par votre disque sur votre ordinateur. Un cookie ne peut être lu que par le serveur qui vous l'a fourni. Il ne permet pas de vous identifier ; en revanche, il enregistre des informations relatives à la navigation de votre ordinateur sur notre site (les pages que vous avez consultées, la date et l'heure de la consultation, votre adresse IP...).</p>

 

<p>AirAtlantique utilise ces cookies afin de faire correspondre au maximum les informations de notre site à vos préférences en tant que visiteur et client. Vous pouvez, à n'importe quel moment, arrêter l'utilisation des cookies en modifiant le paramètre correspondant de votre navigateur web. En l'espèce, il contient certaines des informations que vous venez de nous fournir. Ainsi, vous n'aurez pas besoin, lors de votre prochaine visite, de remplir à nouveau l'ensemble des formulaires que nous vous avons proposé.</p>

<p>Nous vous informons que vous pouvez vous opposer à l'enregistrement de cookies en configurant votre navigateur de la manière suivante :
Pour Microsoft Internet Explorer 7 et au delà,
Choisissez le menu "Outils" (ou "Tools"), puis "Options Internet" (ou "Internet Options").
cliquez sur l'onglet "Confidentialité" (ou "Confidentiality")
Sélectionnez le niveau souhaité à l'aide du curseur.
Pour Mozilla Firefox, Choisissez le menu "Outils" puis "Options", cliquez sur l'onglet "Vie privée". Cliquez ensuite sur le lien "Supprimer des cookies spécifiques". A cette étape sélectionnez les options qui vous conviennent
Pour Google Chrome,
Cliquez sur l'icône représentant une clé à molette menu outils qui est située dans la barre d'outils du navigateur.
Sélectionnez Paramètres.
Cliquez sur Afficher les paramètres avancés.
Dans la section "Confidentialité", cliquez sur le bouton Paramètres de contenu.
Dans la section "Cookies", sélectionnez les options qui vous conviennent
Pour Opéra, 1. choisissez le menu "Fichier">"Préférences" 2. Vie Privée
Pour Apple Safari, choisissez Préférences dans le menu Safari, puis cliquez sur Sécurité. Sélectionnez Jamais si vous ne souhaitez pas conserver les cookies sur votre ordinateur. L'inconvénient est que vous risquez de ne pas pouvoir accéder à certains sites Web. Cliquez sur Toujours pour accepter et conserver tous les cookies. Cliquez sur "Provenant seulement des sites consultés" pour empêcher le stockage de cookies provenant d'autres sites que ceux que vous ouvrez. Sélectionnez cette option pour éviter que les publicitaires des sites Web que vous visitez ne stockent leurs cookies sur votre ordinateur. Pour visualiser les cookies que vous avez acceptés, cliquez sur "Afficher les cookies". Vous pouvez ensuite les supprimer.</p>

<h4>Propriété intellectuelle</h4>
<p>L'ensemble des données, textes, informations, images, photographies ou tout autre contenu diffusé sur le site font l'objet d'une protection au titre du droit de la propriété intellectuelle. Dans cette mesure, toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie des éléments du site sans l'accord préalable et écrit de AirAtlantique est constitutif d'un acte de contrefaçon sanctionné par le Code de la Propriété Intellectuelle. Toutes les marques (marques commerciales et logos) et tout autre signe distinctif qui apparaissent sur le site de AirAtlantique sont la propriété de AirAtlantique et/ou de ses partenaires. Par conséquent, toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces signes distinctifs est prohibée, sauf autorisation préalable et écrite de leur titulaire.</p>

 

<p>Vous acceptez notamment :

que les présentes Conditions Générales de Vente et de Transport ont un caractère contractuel et obligatoire,
de ne pas utiliser le nom "AirAtlantique" ou la marque « AirAtlantique » ou le matériel publicitaire figurant sur le site, à quelque fin que ce soit, sans autorisation préalable écrite de AirAtlantique,
de ne pas reproduire tout ou partie des informations figurant sur ce site pour des raisons commerciales (vols, prix, etc.), y compris sur d'autres sites ou services en ligne et ce, par quelque méthode que ce soit (ex. : utilisation de robots, spiders ou liens hypertexte).</p>
      </div>
    </div>
{% endblock %}