{% extends '::base.html.twig' %}
{% block body %}
    <div class='row-fluid span12'>
      <div class="container body static">
        <h2>Service bagages et objets perdus</h2>
        <p><i>Votre bagage a été retardé, endommagé ou égaré ? Nous mettons tout en œuvre pour vous aider à résoudre cet incident et vous prions de bien vouloir nous excuser pour la gêne occasionnée.</i></p>

        <h3>Bagages manquants à l'aéroport</h3>

        <h4>Contacter le service bagages</h4>
        <p>Votre bagage ne vous a pas été remis à votre arrivée à l´aéroport ? Nous vous prions de bien vouloir nous en excuser. Vous trouverez ici le détail des démarches à effectuer.</p>

        <h4>Déclarer un bagage manquant en ligne</h4>

        <p>Consulter  votre dossier pour vérifier le statut de votre bagage.
        Selon votre aéroport d´arrivée, nous vous proposons 2 possibilités pour déclarer votre bagage manquant : en ligne, dans les 48 h suivant votre arrivée, ou au service bagages avant de quitter l´aéroport.</p>

        <p>Vous pouvez déclarer en ligne un bagage manquant dans les 48 h suivant votre arrivée. Ainsi, vous gagnez du temps à l´aéroport et effectuez votre déclaration au calme.
        Pour cela, veuillez vous munir du reçu bagage qui vous a été remis lors de l'enregistrement de votre bagage. Vous devrez indiquer le numéro composé de 2 lettres et 6 chiffres, inscrit sur l´étiquette.
        Consulter la liste des aéroports pour lesquels vous pouvez déclarer en ligne un bagage manquant
        Accéder au formulaire de déclaration en ligne
        Déclarer un bagage manquant à l´aéroport
        Veuillez signaler l´absence de votre bagage, dès que possible, au service bagages d'Air Atlantique KLM* de votre aéroport d´arrivée. 
        Nous vous remettrons un document (appelé « Property Irregularity Report – PIR ») que vous devrez impérativement compléter avant de quitter l´aéroport. Un numéro de dossier vous sera communiqué. Veuillez le conserver pour le suivi de votre demande.
        * Ou son représentant.</p>

        <h4>Frais de première nécessité</h4>

        <p>Vous avez engagé des frais de première nécessité (achat de produits d´hygiène ou vêtements, par exemple) en raison du retard de votre bagage ? Vous avez 21 jours à compter de la date de réception effective des bagages pour faire une demande de remboursement en complétant le formulaire en ligne ou auprès de notre service bagages</p>
        <h5>Suivi de votre dossier</h5>

        <p>Vous pouvez suivre en ligne le traitement de votre dossier grâce à l'outil WorldTracer ou encore contacter le service bagages de votre aéroport d´arrivée, responsable du suivi de votre dossier. Lorsque votre bagage a été retrouvé, nous vous contactons pour convenir des modalités de livraison.</p>
        <h5>Que faire si votre bagage n´a pas été retrouvé ?</h5>

        <p>Si votre bagage n´a pas été localisé dans les 2 ou 3 jours qui suivent votre arrivée, veuillez compléter avec précision la lettre d´inventaire qui vous a été remise lors de l´ouverture de votre dossier à l´aéroport. Une fois complétée, vous devrez la retourner par courrier au service bagages.</p>
        <p>Si votre bagage n´a toujours pas été localisé après 21 jours, vous serez contacté par le service client de votre pays de résidence.</p>

        <p>À tout moment, vous pouvez également contacter le service client de votre pays de résidence.</p>

        <h4>Dédommagement en cas de perte de bagage</h4>

        <p>Si, malgré tous les efforts mis en œuvre, votre bagage n´a pu être retrouvé, Air Atlantique vous propose un dédommagement. Selon la convention de Montréal, le montant de ce dédommagement sur justificatifs peut s´élever jusqu´à 1 295 €* environ.
        Afin d´obtenir ce dédommagement, nous vous invitons à compléter un formulaire de réclamation en ligne. Si vous avez déjà fait une déclaration en ligne pour la perte de votre bagage, veuillez indiquer le numéro qui vous a été communiqué.
        Dans le cas contraire, nous vous fournirons un numéro de suivi à conserver.</p>

        <p>Vous pouvez également contacter le service client de votre pays de résidence.</p>

        <p>À noter : lors de l´enregistrement d´un bagage, il est possible de faire une déclaration spéciale si la valeur de vos biens est supérieure au dédommagement maximum prévu (1 295 €*). Moyennant un supplément, cela vous permet d´être indemnisé à sa valeur réelle en cas d´incident.
        * Le dédommagement est exprimé en Droits de tirage spéciaux (DTS). Le Droit de tirage spécial est l'unité de compte du Fonds Monétaire International. 1 131 DTS correspondent approximativement à 1 295 € (ce montant, sujet aux fluctuations monétaires, est variable).</p>

        <h3>Bagages endommagés</h3>

        <p><i>Le transport de vos bagages en soute peut occasionner des rayures, marques et autres dommages mineurs dont nous ne pouvons être tenus responsables.</i></p>

        <h4>Vous êtes encore à l'aéroport ?</h4>
        <p>Veuillez-vous rendre au service bagages d'Air Atlantique à votre aéroport d'arrivée afin de nous signaler l'incident. Un constat d’irrégularité bagages sera établi, les informations nécessaires à la réparation du dommage vous seront fournies et un numéro de dossier vous sera communiqué. Veuillez le conserver pour le suivi de votre demande.</p>
        <h4>Vous avez quitté l'aéroport ?</h4>
        <p>Vous avez 7 jours à compter de la date de réception de votre bagage pour formuler une demande de dédommagement via le formulaire de réclamation ou par courrier au service client de votre pays de résidence.</p>

        <p>Dans les 2 cas, veuillez joindre à cette demande les documents suivants :</p>
        <p>votre carte d'embarquement ou Mémo Voyage,
        la ou les étiquette(s) bagages,
        les justificatifs des frais engagés (réparation du bagage par un sellier, constat d'impossibilité de réparer le bagage, etc.).</p>

        <p>Pour les demandes faites via le formulaire en ligne, veuillez conserver les originaux de ces documents qui pourront vous être demandés à tout moment.</p>

        <h3>Objets manquants ou perdus</h3>

        <p><i>Il manque un objet dans votre bagage</i></p>

        <h4>Vous êtes encore à l´aéroport ?</h4>
        <p>Si vous constatez la disparition d´un objet dans votre bagage alors que vous vous trouvez encore à l´aéroport, veuillez vous rendre au service bagages d´Air Atlantique à votre aéroport d´arrivée afin de nous signaler l´incident. Un constat d´irrégularité sera établi et un numéro de dossier vous sera communiqué. Veuillez le conserver pour le suivi de votre demande.</p>
        <h4>Vous avez quitté l´aéroport ?</h4>
        <p>Si vous constatez la disparition d´un objet de votre bagage après avoir quitté l´aéroport, vous avez 7 jours à compter de la réception de ce bagage pour nous faire parvenir une demande de dédommagement via le formulaire en ligne ou par courrier au service client de votre pays de résidence. Au-delà de ce délai, aucun dédommagement ne pourra vous être accordé.</p>

        <p><i>Vous avez perdu un objet ?</i></p>

        <p>Si vous avez perdu ou oublié un objet à bord d´un avion ou dans un salon privatif Air Atlantique, veuillez le signaler au service des objets trouvés Air Atlantique.
        Si vous avez perdu un objet dans un aéroport, veuillez consulter le site internet de celui-ci afin de pouvoir contacter son service des objets trouvés.</p>


      </div>
    </div>
{% endblock %}