{% extends '::base.html.twig' %}
{% block body %}
    <div class='row-fluid span12'>
      <div class="container body static">
        
        <h3>Actualités</h3>
        <p><i>Nouveaux services, destinations à la une, événements… Soyez informé(e) de toute
        l'actualité d'Air France ! </p></i>

        <h4>Nouvelle cabine La Première : une suite haute couture</h4>


        <h6>28/05/2014</h6>
        <p>Découvrez la nouvelle cabine La Première, progressivement disponible dès le mois de septembre à bord de nos Boeing 777-300 long-courriers. Composée de 4 suites privatives de 3 m² chacune, la cabine La Première vous offre une expérience exclusive, alliant prestige, confort et intimité durant votre vol. Fauteuil à l’assise accueillante qui se transforme en un véritable lit pourvu d’un matelas futon, vestiaire individuel, rangements pour vos effets personnels, rideaux épais retenus par des embrasses en cuir, afin de vous isoler totalement ou partiellement selon votre envie... C'est si bon de se sentir chez soi, dans un écrin élégant et raffiné en plein ciel !
        Découvrir la nouvelle suite privative La Première</p>
        <h4>Michel Roth, authenticité et modernité à l'honneur en cabine La Première</h4>


        <h6>15/05/2014</h6>
        <p>Durant le mois de mai, à bord de la cabine La Première, découvrez les créations de Michel Roth, chef doublement étoilé de l'Espadon, le célèbre restaurant du Ritz : médaillon de langouste, asperges vertes et vinaigrette à la framboise, bar en cuisson douce, jus de moules à la crème accompagné de légumes verts mitonnés, coquilles Saint-Jacques poêlées parfumées au tartuffon, polenta dorée et pois gourmands… Bocuse d'or et Meilleur Ouvrier de France, Michel Roth revisite la gastronomie française dans le plus grand respect des traditions. Laissez vous séduire par sa cuisine inventive et moderne !
        Découvrir notre offre de restauration en cabine La Première</p>
      </div>
    </div>
{% endblock %}