{% extends '::base.html.twig' %}
{% block body %}
    <div class='row-fluid span12'>
      <div class="container body static">
        <h3>Réclamations - Suggestions</h3>
        <p>Nous nous engageons au quotidien pour que vos voyages s'effectuent en toute sérénité et que votre expérience soit synonyme de plaisir.</p>
        <p>Si nous n’avons pas su vous donner entière satisfaction, veuillez nous faire part de vos suggestions ou réclamations.</p>

        <p>Votre requête concerne un vol Air Atlantique</p>

        <p>Pour une prise en compte plus rapide, veuillez nous adresser votre demande directement en ligne.</p>
        <p>Nous sommes également joignables au +33 (0)9 69 39 10 30 (prix d'un appel local depuis un poste fixe), de 9h00 à 17h00 du lundi au vendredi sauf les jours fériés.</p>
      </div>
    </div>
{% endblock %}