{% extends '::base.html.twig' %}
{% block body %}
    <div class='row-fluid span12'>
      <div class="container body static">
        <h3>Conditions Générales de Transport</h3>



<h4>ARTICLE 1 : DEFINITIONS</h4>

<h5>1.1.       Accords IATA internationaux</h5>
<p>Désigne les accords inter-transporteurs relatifs à la responsabilité des transporteurs aériens, signés le 31 octobre 1995 à Kuala Lumpur (IIA) et le 3 avril 1996 à Montréal (MIA), qui sont applicables par des transporteurs membres de l´Association du Transport Aérien International (Voir IATA) depuis le 1er avril 1997, et qui se situent dans le cadre juridique des textes internationaux sur la responsabilité du transporteur désignés sous les points (a) à (d) du terme " Convention " défini ci-dessous.</p>

<h5>1.2.       Agent Accrédité</h5>
<p>Désigne une personne physique ou morale agréée par le Transporteur pour le représenter dans la vente de titres de transport aérien sur ses services.</p>
</p>
<h5>1.3.       Affrètement</h5>
<p>Désigne l´opération par laquelle le Transporteur ayant conclu un Contrat de Transport avec le Passager (« Transporteur Contractuel ») délègue à un autre Transporteur (« Transporteur de Fait ») la charge d´effectuer la totalité ou une partie du Transport Aérien. Désigne également l´opération par laquelle tout autre contractant du Passager (par exemple un organisateur de voyages) confie à un Transporteur le soin d´assurer la totalité ou une partie du Transport Aérien.</p>

<h5>1.4.       Arrêt Volontaire</h5>
<p>Désigne un arrêt programmé par le Passager au cours de son voyage, à une escale située entre le point de départ et le point de destination et figurant sur le Billet.</p>

<h5>1.5.       Ayant droit</h5>
<p>Voir à « Personne ayant droit à indemnisation »</p>

<h5>1.6.       Bagages</h5>
<p>Désigne les effets et autres objets personnels accompagnant le Passager au cours de son voyage. Sauf disposition contraire, ce terme désigne à la fois les Bagages Enregistrés et les Bagages non Enregistrés.</p>

<h5>1.7.       Bagages Enregistrés</h5>
<p>Désigne les Bagages dont le Transporteur prend la garde et pour lesquels il a délivré un Bulletin de Bagages.</p>

<h5>1.8.       Bagages Non Enregistrés</h5>
Désigne tout Bagage appartenant au Passager autre que les Bagages Enregistrés. Ce Bagage reste sous la garde du Passager.

<h5>1.9.       Billet</h5>
<p>Désigne soit le document intitulé "Billet de passage et Bulletin de Bagages", soit le titre de transport  matériel ou immatériel établissant le droit au transport délivré par le Transporteur ou en son nom par un Agent Accrédité. Il matérialise l’existence du Contrat de Transport, comprend les Coupons de Vol et les avis aux passagers et inclut, par  renvoi, ces Conditions Générales de Transports.</p>

<h5>1.10.    Billet complémentaire</h5>
<p>Désigne un billet dont l´émission est rendue nécessaire du fait du nombre important de coupons d´un Billet principal dont l´ensemble constitue un seul et même Contrat de Transport. </p>

<h5>1.11.   Billet électronique</h5>
<p>Désigne le Billet sauvegardé par le Transporteur ou à sa demande par un système informatique de Réservation et dont attestent le Mémo-Voyage (appelé aussi « Itinéraire-Reçu »), le Coupon de Vol électronique ou tout autre document de même valeur, émis par le Transporteur ou par un Agent Accrédité.</p>

<h5>1.12.   Fiche d’Identification</h5>
<p>Désigne un bulletin émis par le Transporteur aux seules fins de l´identification des Bagages Enregistrés et comprenant une partie apposée sur le Bagage (« Etiquette de Bagages » ou « Tag ») et une autre remise au Passager pour l´identification dudit Bagage (« Reçu de Bagages »). </p>

<h5>1.13.   Code de Désignation</h5>
<p>Désigne le code en deux ou en trois lettres qui identifie chaque Transporteur.</p>

<h5>1.14.   Contrat de Transport</h5>
<p>Désigne l’ensemble des documents dont les dispositions et mentions ont une valeur contractuelle effective entre le Transporteur et le Passager.  Il est composé :
-          Des déclarations et stipulations figurant sur le Billet ou dans la pochette du Billet,
-          Des déclarations et stipulations figurant sur Mémo Voyage (ou Itinéraire-Reçu),
-          Des présentes Conditions  Générales de Transport,
-          Des conditions  générales de vente
-          Des conditions tarifaires
-          Des annexes des présentes Conditions Générales de Transport
-          Des avis aux passagers.</p>

<h5>1.15.   Coupon</h5>
<p>Désigne soit un Coupon de Vol papier soit un Coupon électronique, chacun d’entre eux comportant le nom du Passager devant effectuer un vol identifié sur le Coupon.</p>

<h5>1.16.   Coupon de vol</h5>
<p>Désigne la partie du Billet portant la mention "valable pour le transport" ou, dans le cas d’un Billet électronique, le Coupon électronique indiquant les points précis entre lesquels le Passager doit être transporté.</p>

<h5>1.17.   Coupon électronique</h5>
<p>Désigne un Coupon de Vol électronique ou tout autre document de même valeur, détenu dans la banque de données du Transporteur.</p>

<h5>1.18.   Coupon-Passager ou Reçu-Passager</h5>
<p>Désigne la partie du Billet, émis par le Transporteur ou en son nom, qui est identifiée en tant que telle et doit être conservée par le  Passager.</p>

<h5>1.19.   Déclaration Spéciale d’Intérêt</h5>
<p>Désigne la possibilité offerte au Passager de déclarer par écrit la valeur de ses Bagages Enregistrés lorsqu’elle est supérieure à la limite de responsabilité indiquée dans la Convention de Montréal. Dans ce cas le Passager devra payer  une somme supplémentaire.</p>

<h5>1.20.   Dommage</h5>
<p>Recouvre les préjudices corporels ou matériels que pourrait subir le Passager dans le cadre du Transport Aérien effectué par le Transporteur au titre du Contrat de Transport.</p>

<h5>1.21.   Donnée Personnelle</h5>
<p>Désigne toute information relative au Passager permettant de l’identifier par référence à un numéro d'identification ou à un ou plusieurs éléments qui lui sont propres.</p>

<h5>1.22.   Droit de Tirage Spécial (DTS)</h5>
<p>Désigne une unité de compte du Fonds Monétaire International (FMI), dont la valeur est déterminée périodiquement par ce dernier.</p>

<h5>1.23.   Escales intermédiaires</h5>
<p>Désigne les points, à l’exception des points d’origine et de destination, indiqués sur le Billet ou mentionnés sur les horaires en tant qu’escales prévues sur l’itinéraire du Passager.</p>

<h5>1.24.   Etiquette ou Tag Bagage</h5>
<p>Désigne la partie de la Fiche d´Identification apposée sur le Bagage Enregistré.</p>

<h5>1.25.   Famille Proche</h5>
<p>Désigne les conjoints, partenaires, parents, frères et sœurs, enfants, parents adoptifs et grands-parents.</p>

<h5>1.26.   Force Majeure</h5>
<p>Désigne les circonstances étrangères à celui qui l´invoque et qui en rapporte la preuve, anormales et imprévisibles, dont les conséquences n´auraient pu être évitées malgré toutes les diligences déployées telle que cette notion est définie par la jurisprudence française.</p>

<h5>1.27.   Frais d´émission (ou «Ticketing Fees»)</h5>
<p>Désigne des frais facturés, le cas échéant, au Passager, par le Transporteur ou son Agent Accrédité en contrepartie de la prestation d´émission du Billet.
Leur montant est fixé par l´émetteur du Billet (le Transporteur ou l´Agent Accrédité, selon le cas).</p>

<h5>1.28.   Frais de service </h5>
<p>Désigne des frais facturés, le cas échéant, au Passager, par le Transporteur ou son Agent Accrédité notamment en contre partie de la modification, de la réémission ou du remboursement.</p>

<h5>1.29.   Heure Limite d’Enregistrement (HLE)</h5>
<p>Désigne la limite horaire indiquée pour chaque vol avant laquelle le Passager doit avoir effectué ses formalités d´enregistrement et reçu sa carte d´embarquement ou d´accès à bord.</p>

<h5>1.30.   Horaires</h5>
<p>Désigne le relevé des heures de départ et d´arrivée des avions, tel que mentionné dans les guides horaires publiés par le Transporteur, ou sous son autorité, ou tel que porté à la connaissance du public par voie électronique.</p>

<h5>1.31.   Jours</h5>
<p>Désigne les jours du calendrier comprenant les sept jours de la semaine, étant entendu que dans le cas d’une notification, le jour d’envoi n’est pas compté et que, pour déterminer la durée de validité d’un Billet, le jour d’émission du Billet ou le jour du commencement du vol n’est pas compté.</p>

<h5>1.32.   Mémo Voyage (ou Itinéraire-Reçu)</h5>
<p>Désigne un ou plusieurs documents émis par le Transporteur à l’attention du Passager et qui attestent de l’émission d’un Billet. Il comporte le nom du Passager, des informations sur le vol et des avis. Il peut également être appelé "Itinéraire-Reçu".</p>

<h5>1.33.   Passager</h5>
<p>Désigne toute personne, en dehors des membres de l’équipage, munie d’un Billet, transportée ou devant être transportée par avion.</p>

<h5>1.34.   Passager à Mobilité Réduite (PMR)</h5>
<p>Désigne selon le Règlement (CE) n°1107/2006 du Parlement européen et du Conseil du 5 juillet 2006 toute personne dont la mobilité est réduite, lors de l'usage d'un moyen de transport, en raison de tout handicap physique (sensoriel ou moteur, permanent ou temporaire) ou de tout handicap ou déficience intellectuelle, ou de toute autre cause de handicap, ou de l'âge, et dont la situation requiert une attention appropriée et l'adaptation à ses besoins particuliers du service mis à la disposition de tous les Passagers.</p>

<h5>1.35.   Personne ayant droit à indemnisation</h5>
<p>Désigne le Passager ou toute autre personne pouvant prétendre à réparation au titre dudit voyage, conformément au droit applicable.</p>

<h5>1.36.   Réservation</h5>
<p>Désigne toute demande de transport effectuée par un Passager et enregistrée par le Transporteur Aérien ou son Agent Accrédité. </p>

<h5>1.37.   Tarifs</h5>
<p>Désigne les tarifs, coûts et Conditions Générales de Transport correspondantes déposés par un Transporteur auprès des gouvernements qui l´exigent. Les Tarifs comprennent également les Taxes, quand la loi en vigueur l´impose.</p>

<h5>1.38.   Taxes</h5>
<p>Désigne les frais, taxes et redevances imposés par un gouvernement, par le gestionnaire d´un aéroport, ou par toute autre autorité.</p>

<h5>1.39.   Transport Aérien (ou Voyage Aérien)</h5>
<p>Désigne le transport du Passager et de ses Bagages, c’est-à-dire depuis les opérations d’embarquement jusqu’aux opérations de débarquement, au sens de la Convention applicable.</p>

<h5>1.40.   Transporteur</h5>
<p>Désigne AIGLE AZUR ou tout autre transporteur, dont le Code de Désignation apparaît sur le Billet ou sur un Billet complémentaire.</p>

<h5>1.41.   Transporteur Aérien Communautaire</h5>
<p>Désigne un Transporteur aérien titulaire d’une licence d’exploitation valable délivrée par un Etat membre de l’Union Européenne, conformément aux dispositions du Règlement du Conseil (CEE) n° 2407/92 du 23 juillet 1992.</p>

<h5>1.42.   Vol ferré / vol maritime / vol routier</h5>
<p>Désigne un transport combiné aux termes duquel le transport aérien et les autres modes de transport sont vendus conjointement et peuvent être réalisés sous différents régimes de responsabilité.</p>

<h5>1.43.   Vol intérieur</h5>
<p>Désigne tout vol dont la ville de départ et la ville de destination sont situées à l’intérieur d’un même Etat, en continuité territoriale.</p>

<h5>1.44.   Vol international</h5>
<p>Désigne, au sens de la Convention de Chicago, tout vol pour lequel le point de départ et le point de destination et, éventuellement, le point d’escale sont situés sur le territoire d’au moins deux Etats adhérant à la Convention, ou dans un seul Etat si une escale intermédiaire est prévue dans un autre Etat adhérant à la Convention.</p>

<h4>ARTICLE 2 : DOMAINE D’APPLICATION</h4>

<h5>2.1.    Textes applicables</h5>
<p>Peuvent s’appliquer au Contrat de Transport les textes suivant selon les cas :
-          Convention pour l'unification de certaines règles relatives au Transport aérien international, signé à Varsovie, le 12 Octobre 1929 (la « Convention de Varsovie »).
-          Convention relative à l'aviation civile internationale signée à Chicago, le 7 décembre 1944 (la « Convention de Chicago »).
-          Convention pour l’unification de certaines règles relatives au transport aérien international, faite à Montréal le 28 mai 1999 (la « Convention de Montréal »).
-          Règlement (CE) n°2027/97 du Conseil  du 9 octobre 1997 relatif à la responsabilité des transporteurs aériens en cas d'accident  modifié par le Règlement (CE) n°889/2002 du Parlement européen et du Conseil du 13 mai 2002 (le « Règlement (CE) n°2027/97»).
-          Règlement Européen (CE) n°261/2004  du Parlement européen et de Conseil du 11 Février 2004 établissant des règles communes en matière d'indemnisation et d'assistance des passagers en cas de refus d'embarquement et d'annulation ou de retard important d'un vol (le « Règlement (CE) n°261/2004»).
-          Règlement (CE) n°1107/2006 du Parlement européen et du Conseil du 5 juillet 2006 concernant les droits des personnes handicapées et des personnes à mobilité réduite lorsqu'elles font des voyages aériens (le « Règlement (CE) n°1107/2006»).

<h5>2.2.    Généralités</h5>
   <p>(a) A l’exception des dispositions des paragraphes 2.2, 2.3, 2.4 et 2.5 ci-dessous, les présentes Conditions Générales de Transport s’appliquent à tout vol, ou portion de vol, pour lequel le Code de Désignation du Transporteur apparaît dans la case «transporteur» du Billet ou du Coupon correspondant.
   (b) Ces Conditions Générales de Transport s’appliquent également au transport à titre gratuit ou à tarif réduit, sauf dispositions contraires dans le Contrat de Transport ou dans tout autre document contractuel qui lierait le Passager au Transporteur.
   (c) Ces Conditions Générales de Transport sont établies en application de la Convention ainsi que des Accords IATA définis à l’article 1 ci-dessus.</p>

<h5>2.3.    Affrètement</h5>
<p>Si le transport est effectué en vertu d’un Affrètement, les Conditions Générales de Transport s’appliquent seulement dans la mesure où elles sont incorporées, par référence ou autrement, dans le contrat d’Affrètement ou dans le Billet.</p>

<h5>2.4.    Partage de codes</h5>
<p>Sur certains services aériens,  des accords en partage de codes sont conclus entre AIGLE AZUR et d’autres Transporteurs. Le vol pour lequel le Passager est titulaire d’une Réservation pourra donc être opéré par un  Transporteur de fait différent de celui dont le Code de Désignation figure sur le Billet. Si de tels accords sont en vigueur, le Passager sera informé de l’identité du Transporteur de fait, au moment où le Passager effectue sa Réservation.</p>

<h5>2.5.    Prédominance de la loi</h5>
<p>Ces Conditions Générales de Transport sont applicables dans la mesure où elles ne sont pas contraires au droit applicable ou à des Tarifs déposés, auxquels cas, ce droit ou ces Tarifs prévaudraient. L’invalidation éventuelle d’une ou de plusieurs dispositions de ces Conditions Générales de Transport sera sans effet sur la validité des autres dispositions.</p>

<h4>ARTICLE 3 : BILLETS</h4>

<h5>3.1.    Dispositions Générales</h5>
   <p>(a) Le Billet matérialise l’existence du Contrat de Transport. Seul le Passager désigné sur le Billet bénéficiera de la prestation Transport. Le Transporteur se réserve le droit d’exiger à tout moment au Passager la fourniture de justificatif d’identité valide, et tout autre document exigé par les autorités. Les nom et prénom figurant sur le Billet doivent correspondre exactement à ceux figurant sur la pièce d’identité présentée par le Passager, dans le cas contraire, il pourra se voir refuser l’embarquement.
   (b) Un Billet n’est pas cessible.
   (c) Certains Billets, vendus à Tarifs réduits, sont partiellement ou totalement non remboursables. Il appartient au Passager de prendre connaissance des conditions applicables au Tarif qu’il aura choisi avant d’acheter le Billet et, le cas échéant, de veiller à contracter les assurances correspondant à ses besoins.
   (d) Si le Passager titulaire d’un Billet décrit au paragraphe (c) est en mesure d’apporter la preuve qu’un cas de Force Majeure l’empêche d’utiliser son Billet, alors le Transporteur créditera au Passager le montant de son Billet non remboursable pour un voyage ultérieur et sous réserve de frais administratifs raisonnables à condition que le Passager prévienne le Transporteur dès que possible avant la date du vol.
   (e) Le Passager ne peut être transporté que s'il est en mesure de présenter un Billet en cours de validité, contenant le Coupon correspondant au vol concerné et tous les autres Coupons de vol inutilisés, ainsi que le Coupon Passager. En outre, un Billet détérioré ou modifié par une autre personne que le Transporteur ou un de ses Agents Accrédités ne sera pas valable au transport.</p>

<h5>3.2.    Durée de Validité</h5>
  <p> (a) Sauf dispositions contraires contenues dans les présentes Conditions Générales de Transport ou le Contrat de Transport ou sur le Billet (en cas de Tarifs affectant la validité d’un Billet, tel qu’indiqué sur le Billet lui-même), un Billet est valable au transport :
-                     un (1) an à compter de sa date d’émission ou,
-                     un (1) an à compter de la date d’utilisation du premier Coupon, si celle-ci intervient dans l’année de la date d’émission.
   (b) Si le Passager est empêché de voyager pendant la durée de validité de son Billet parce qu’au moment où il demande une Réservation sur un vol, le Transporteur n’est pas en mesure de confirmer cette Réservation, la validité de ce Billet sera prorogée ou le Billet pourra donner lieu à remboursement dans les conditions de l’article 11 ci-dessous.
   (c) En cas de décès d’un Passager en cours du Voyage, les Billets des personnes l’accompagnant peuvent être modifiés.. En cas de décès survenu dans la Famille Proche d’un Passager dont le voyage est commencé, la validité des Billets du Passager et de ceux des membres de sa Famille Proche voyageant avec lui peut être modifiée de la même façon.
   (d) Toute modification mentionnée en (d) ci-dessus ne pourra être effectuée qu’après réception d’un certificat de décès en bonne et due forme et toute extension prévue à cet article ne pourra excéder quarante-cinq (45) jours à compter de la date du décès.</p>

<h5>3.3.    Ordre d'utilisation des Coupons</h5>
  <p> (a) Le Billet acheté est valable uniquement pour le Transport  qui y est indiqué, du point de départ au point de destination, via toute Escale intermédiaire prévue lors de l’achat du Billet. Le Tarif  payé correspond au parcours indiqué sur le Billet et constitue un élément essentiel du Contrat de Transport passé entre le Transporteur et le Passager. Le Billet ne sera pas accepté et perdra toute validité si tous les Coupons n’ont pas été utilisés dans leur ordre d’émission.
   (b) Si le Passager n’utilise pas ses Coupons dans leur ordre d’émission, sera alors calculé un nouveau Tarif correspondant à ce changement. Le Passager devra alors s’acquitter de la différence entre le Tarif correspondant au Voyage acheté et le nouveau Tarif calculé. Si le nouveau Tarif est inférieur à l’ancien, le Transporteur remboursera la différence au Passager,  mais, dans tous les cas, ses anciens Coupons n’auront plus aucune valeur et ne lui permettront pas d’être transporté.
   (c) Si le Passager souhaite changer tout ou partie de son Voyage et si les conditions tarifaires qui lui sont applicables le permettent, il devra prendre contact avec le Transporteur. Le Tarif sera recalculé et le Passager aura alors la possibilité d’accepter le nouveau Tarif ou de maintenir le Transport originel tel qu’inscrit sur le Billet.
Si certains changements n’entraînent pas de modification tarifaire, d’autres, tels que le changement du point de départ (par exemple, si le premier Coupon n’est pas utilisé) ou de destination, peuvent avoir pour résultat de modifier le Tarif.  De nombreux Tarifs ne sont valables qu’aux dates et pour les vols indiqués sur le Billet et ne peuvent être modifiés que moyennant le paiement d’un complément tarifaire ou une pénalité de modification.
Si le Passager souhaite modifier son Billet pour cause de Force Majeure, il devra prendre contact avec le Transporteur dès que possible qui s’efforcera de transporter le Passager jusqu’à sa prochaine Escale intermédiaire ou sa destination sans changement de Tarif.
   (d) Chaque Coupon de Vol du Billet du Passager sera valable pour le Transport dans la classe spécifiée sur celui-ci, à la date et pour le vol correspondant à la Réservation faite. Si un Coupon est émis originellement sans mention de Réservation, une Réservation peut être faite ultérieurement, conformément aux Tarifs en vigueur et dans la limite des places disponibles sur le vol demandé.
   (e) Si le Passager ne se présente pas à un vol, le Transporteur pourra annuler ses Réservations pour les vols en continuation ou en retour.</p>

<h5>3.4.    Identification du Transporteur</h5>
<p>Le nom du Transporteur peut figurer en abrégé sur le Billet par le biais de son Code de Désignation ou sous toute autre forme.</p>

<h4>ARTICLE 4 : TARIFS, FRAIS, TAXES ET REDEVANCES</h4>

<h5>4.1.    Tarifs</h5>
<p>Les Tarifs s’appliquent uniquement au transport de l’aéroport du point d’origine à l’aéroport du point de destination, sauf indications contraires. Ils ne comprennent pas le transport de surface entre aéroports et entre aéroports et terminaux en ville. Le prix du Billet sera calculé en conformité avec les Tarifs en vigueur à la date de l’achat du Billet, pour un voyage prévu aux dates et pour l’itinéraire indiqués sur ce Billet. Tout changement d’itinéraire ou des dates de votre voyage peut avoir une incidence sur le Tarif applicable.</p>

<h5>4.2.    Choix de l’itinéraire</h5>
<p>Sauf dispositions contraires figurant dans le Contrat de Transport ou dans tout autre document contractuel qui lie le Transporteur et le Passager, les Tarifs s’appliquent exclusivement au voyage prévu à ce Contrat ou à ce document. S’il y a plus d’un itinéraire possible pour le même Tarif, le Passager peut choisir son itinéraire préféré avant l’émission de son Billet.</p>

<h5>4.3.   Frais, Taxes et Redevances</h5>
<p>Tous frais, taxes ou redevances imposés par un gouvernement, par toute autre autorité ou par le gestionnaire d’un aéroport seront à la charge du Passager. Lors de l’achat de son Billet, le Passager sera avisé de ces frais, taxes ou redevances inclus dans le Tarif qui, dans la plupart des cas, apparaissent séparément sur le Billet. Ils sont en constante évolution et peuvent être créés (ou augmentés) après la date d’achat du Billet, auquel cas le Passager sera obligé d’acquitter le montant correspondant. Inversement, si de tels frais, taxes ou redevances payés par le Passager en plus du Tarif, sont réduits ou supprimés, celui-ci aura droit à en être remboursé.</p>

<h5>4.4     Frais d’Emission facturés par le Transporteur</h5>
<p>Des Frais d’Emission pourront être facturés au Passager par le Transporteur en contrepartie de la prestation d’émission du Billet.
Les Frais d’émission sont d’un montant différent selon le type de voyage, le Tarif et le canal de distribution du Billet. Ces frais s’ajoutent au Tarif et aux Taxes.
Les Frais d’émission facturés, le cas échéant, par le Transporteur ne sont pas remboursables, excepté lorsqu’il s’agit d’une annulation du Billet due à une faute du Transporteur.
Le Passager est informé avant la finalisation de sa Réservation, du montant des Frais d’émission qui lui sont facturés par le Transporteur.
Le montant des Frais d’émission facturés par Aigle Azur est consultable sur son site Internet ainsi qu’auprès de ses services.</p>

<h5>4.5.    Monnaie de Paiement</h5>
<p>Les Tarifs, taxes, frais et redevances sont payables dans la monnaie du pays où le Billet a été acheté, à moins qu’une autre monnaie soit précisée, par le Transporteur ou son Agent Accrédité, au moment de l’achat du Billet ou antérieurement (par exemple, à cause de l’absence de convertibilité de la monnaie locale). Par ailleurs, le Transporteur peut, à sa discrétion, accepter les paiements dans une autre monnaie.</p>

<h5>4.6.    Conditions de modification et d’annulation du billet afférentes au Tarif</h5>
<p>Le Transport pour un itinéraire donné et à des Horaires données peut être soumis à plusieurs Tarifs différents, indépendamment de la classe choisie par le Passager.
Ces différences de tarifs sont dues aux conditions applicables en cas de modification ou d’annulation du Billet à l’initiative du Passager.
Dans le cas où le Passager ne choisit pas les mêmes conditions tarifaires égales pour plusieurs vols qui font l’objet d’un seul Contrat de Transport, celui-ci se verra appliquer les conditions les plus restrictives lorsque la modification voulue ou l’annulation affectera plusieurs vols soumis à des conditions différentes.</p>

<h4>ARTICLE 5 : RESERVATIONS</h4>

<h5>5.1.    Exigences liées à la Réservation</h5>
   <p>(a) Le Transporteur ou son Agent Accrédité enregistreront la Réservation du Passager et, à sa  demande, pourront lui en fournir une confirmation écrite.
   (b) Certains Tarifs peuvent être soumis à des conditions qui limitent ou excluent la possibilité de changer ou d’annuler ces Réservations.</p>

<h5>5.2.    Date limite d'émission du Billet</h5>
<p>Si le Passager n’a pas effectué le paiement de son Billet avant la date limite d’émission indiquée par le Transporteur ou son Agent Accrédité, le Transporteur pourra annuler la Réservation du Passager et disposer de la place ainsi libérée.</p>

<h5>5.3.    Données personnelles</h5>
<p>Le Passager reconnait que des données à caractère personnel le concernant sont communiquées au Transporteur lorsqu’il effectue une Réservation conformément à l’article 17 des présentes Conditions Générales de Transport.</p>

<h5>5.4.   Attribution des sièges</h5>
<p>Le Transporteur s’efforce de satisfaire les demandes du Passager concernant l’attribution de siège, mais ne peut garantir l’attribution d’un siège donné, même si la Réservation est confirmée pour ledit siège. Le Transporteur se réserve le droit de modifier l’attribution des sièges à tout moment, ceci étant parfois rendu nécessaire par des impératifs liés à l’exploitation, à la sécurité, à la sûreté ou à des cas de Force Majeure.
Nonobstant le premier paragraphe de cet article, dès lors qu'un Passager manifeste le souhait, au moment de la Réservation, de disposer pour lui seul de plus d'un siège, pour des raisons personnelles ou de confort qu'il n'a pas à justifier, il devra alors payer le nombre de places ainsi réservées selon les tarifs applicables.
Dans le cas où le  Passager se présente à l’enregistrement ou à l’embarquement sans avoir effectué une Réservation de siège supplémentaire et dès lors qu’il est nécessaire pour des raisons de sécurité qu’il dispose d’un siège supplémentaire:
1. Si des sièges supplémentaires sont disponibles sur le Vol, le Transporteur mettra à la disposition de ce Passager un siège supplémentaire ;
2. Si aucun siège supplémentaire n’est disponible sur le Vol concerné, le Transporteur demandera alors au Passager de reporter  son voyage sur un Vol moins fréquenté.</p>

<h5>5.5.    Services à bord</h5>
<p>Le Transporteur s’efforce de satisfaire les demandes du Passager concernant les prestations servies à bord tels que, sans caractère limitatif, boissons, repas spéciaux, films. Ces demandes doivent être effectuées au  moment de la Réservation.
La responsabilité du Transporteur ne serait toutes fois être engagée si des impératifs liés à la sécurité et à la sûreté ou à des raisons indépendantes du Transporteur ne lui permettent pas de fournir les prestations adaptées, même si celles-ci ont été confirmées à la Réservation.</p>

<h5>5.6.    Reconfirmation des Réservations</h5>
  <p>(a) Les Réservations pour un vol en continuation ou de retour peuvent être soumises à reconfirmation, dans certains délais. Le Transporteur indiquera au Passager dans quel cas une reconfirmation sera nécessaire et comment y procéder. Si le Passager ne reconfirme pas, alors qu’il lui a été demandé de le faire, ses Réservations pour les vols en continuation et/ou de retour pourront être annulées. Toutefois, si le Passager indique vouloir voyager et s’il y a de la place sur le vol en question, le Transporteur pourra rétablir sa Réservation et le transportera. S’il n’y a pas de place disponible sur ce vol, le Transporteur s’efforcera de transporter le Passager jusqu’à sa prochaine Escale intermédiaire ou jusqu’à sa destination finale.
   (b) Si, au cours de son voyage, le Passager utilise les services de plusieurs Transporteurs, le Passager devra vérifier auprès de chacun d’eux si des reconfirmations sont nécessaires. Dans ce cas, le Transporteur auprès duquel la reconfirmation doit être faite est celui dont le Code de Désignation apparaît sur le Coupon de Vol.</p>

<h4>ARTICLE 6 : ENREGISTREMENT & EMBARQUEMENT</h4>

   <p>(a) Au risque de voir sa Réservation annulée, le Passager devra respecter l’Heure Limite d’Enregistrement inscrite sur son Billet. A cet égard, il est indiqué, à titre informatif, que l’Heure Limite d’Enregistrement peut varier selon les aéroports.
Dans l’éventualité où une telle information ne figurerait pas sur son Billet, le Passager devra se présenter au comptoir d’enregistrement au moins soixante (60) minutes avant l’heure de départ de son vol.
   (b) Le Passager doit être présent à la porte d’embarquement au plus tard à l’heure que le Transporteur lui a indiqué. A défaut, le Transporteur pourra annuler sa Réservation.
   (c) La responsabilité du Transporteur pour toute perte, dommage ou dépense ne pourra être recherchée si le Passager n’a pas respecté les conditions du présent article.
   (d) Si le Passager n’arrive pas à temps au comptoir d’enregistrement ou à la porte d’embarquement ou s’il ne possède pas les documents de voyage appropriés, comme indiqué à l’article 13 ci-dessous, ou enfin si ses Bagages contiennent un objet non admis tel que décrit à l’article 9.3 ci-dessous, et qu’il se trouve donc dans l’impossibilité de voyager, le Transporteur pourra annuler sa Réservation et disposer de son siège, sans engager sa responsabilité à l’égard du Passager.
   (e) Quand un Coupon de Vol n'a pas été prélevé au comptoir d´enregistrement, au moment où le Passager reçoit sa carte d´embarquement, le Coupon en question reste sous la garde du Passager et celui-ci devra remettre le Coupon au Transporteur au moment de l´embarquement.</p>

<h4>ARTICLE 7 : PASSAGERS PARTICULIERS</h4>

<h5>7.1.    Dispositions générales</h5>
  <p> (a) Certains passagers, en raison de la situation qui les affecte, de manière permanente ou temporaire, devront accomplir certaines formalités supplémentaires et/ou demander une assistance particulière.
La demande d’assistance particulière doit être faite au moment de la Réservation.
Si cette demande d’assistance particulière est faite après la Réservation et moins de quarante-huit (48) heures avant le départ, le Transporteur mettra tout en œuvre pour la satisfaire conformément à la réglementation applicable compte tenu notamment du délai imparti et des spécificités de l’assistance demandée mais ne serait être tenu responsable en cas d’impossibilité.
   (b) Les Passagers visés par le présent article sont :
-          Les Passagers à Mobilité Réduite
-          Les femmes enceintes
-          Les bébés
-          Les mineurs non accompagnés
   (c) Si le Passager présente des antécédents médicaux, il lui est recommandé de consulter un médecin avant d´embarquer sur un vol, particulièrement sur un long-courrier, et de prendre toutes les précautions nécessaires.</p>

<h5>7.2.    Passager à Mobilité Réduite</h5>
  <p> (a) Sont assimilées à des Passagers à Mobilité Réduite les personnes non-voyantes, malentendantes, muettes ou atteintes d’un handicap mental, dans la mesure où celles-ci nécessiteraient une assistance particulière.
   (b) L’acceptation au transport de Passagers à Mobilité Réduite est soumise à l’accord préalable du Transporteur. Celui-ci pourra refuser le Passager à Mobilité Réduite dans les cas prévus dans le Règlement (CE) n°1107/2006.
Le Passager à Mobilité Réduite doit informer le Transporteur au moment de la Réservation, de sa condition ou de son handicap et au moins quarante-huit (48) heures ouvrables avant le départ de son vol de son besoin d’assistance spécifique. Dans le cas contraire, le Transporteur ne peut garantir au Passager que celui-ci puisse embarquer pour le vol réservé.
Les Passagers ayant absolument besoin d’un fauteuil roulant pour se déplacer doivent être accompagnés par un autre Passager. Les personnes non mobiles doivent posséder leur propre chaise roulante. Le nombre de chaises roulantes transportables par les appareils du Transporteur est techniquement limité et le Transporteur  ne peut donc pas automatiquement confirmer la demande du Passager. Parmi les fauteuils motorisés, seuls ceux à batterie sèche peuvent voyager à bord des appareils du Transporteur.</p>

<h5>7.3.    Femme enceinte</h5>
  <p> (a) Les femmes enceintes, jusqu’à 7 mois de grossesse révolus, peuvent voyager sans restriction ou formalité supplémentaire.
   (b) Les femmes enceintes, passé le 7e mois de grossesse, devront, lors de l’enregistrement, fournir un certificat médical attestant que le voyage ne fait l’objet d’aucune contre indication. Ledit certificat médical devra avoir été fait au minimum soixante-douze (72) heures avant le jour du départ. A défaut, la femme enceinte sera refusée de plein droit à l’embarquement par le Transporteur.
   (c) Les femmes enceintes, à partir du 9e mois de grossesse, ne seront en aucun cas admises à bord.
   (d) En cas de doute sur la durée de la grossesse, le Transporteur pourra faire appel au médecin présent sur l’aéroport.</p>

<h5>7.4.    Bébé</h5>
  <p> (a) Sont considérés comme étant des bébés au sens du présent article, les Passagers ayant entre 0 et 2 ans.
   (b) Un bébé doit nécessairement être accompagné par un adulte autonome. Un adulte ne peut pas accompagner plus d’un (1) seul bébé. Sous réserve de disponibilité de ceinture de sécurité adaptée, le bébé doit voyager sur les genoux de l’adulte l’accompagnant.
   (c) Il est rappelé que la législation en vigueur impose que pour qu’un bébé puisse voyager à bord d’un avion, celui-ci doit être titulaire d’une pièce d’identité en cours de validité.
   (d) Un bébé ne pourra voyager à bord d’un avion du Transporteur que dès qu’il a atteint l’âge d’une semaine.</p>

 

<h5>7.5.    Mineur non accompagné</h5>
   <p>(a) Est considéré comme mineur non accompagné tout mineur qui ne se trouve pas accompagné d’un adulte ou d’un parent mineur dans la même cabine. Ne peuvent être acceptés comme mineur non accompagné que les enfants âgés de 4 à 17 ans. Les mineurs âgés de 0 à 4 ans ne peuvent donc pas voyager seuls.
   (b) Les mineurs non accompagnés âgés de 4 à 11 ans seront obligatoirement pris en charge par le Transporteur de l’enregistrement à l’arrivée.
   (c) Les mineurs non accompagnés âgés de 12 à 17 ans peuvent être pris en charge par le Transporteur, sur demande. Dans ce cas, un coût additionnel sera facturé.
   (d) Le nombre de mineurs non accompagnés admissibles sur un vol est limité, ainsi le Transporteur se réserve le droit de refuser une Réservation faite pour un mineur non accompagné.</p>

<h5>7.6.    Repas spéciaux</h5>
  <p> (a) Si le Passager désire un repas spécial, il doit s´enquérir de sa disponibilité au moment de la Réservation (ou du changement de Réservation) ou dans les délais communiqués par le Transporteur. A défaut, le Transporteur ne pourra garantir la présence de ce repas spécial à bord du vol concerné.  La responsabilité du Transporteur ne pourra pas être engagée si certaines demandes ne peuvent être satisfaites en raison de contraintes opérationnelles.</p>

<h4>ARTICLE 8 : DROIT DE REFUSER LE TRANSPORT</h4>

<h5>8.1.    Dispositions générales</h5>
<p>De manière discrétionnaire et raisonnable, le  Transporteur pourra, à tout point d’embarquement et/ou de correspondance, refuser de transporter le Passager et ses Bagages, si un ou plusieurs des cas suivants se produit :
   (a) Le Passager ne s’est pas conformé au droit applicable;
   (b) Le transport du Passager, et/ou celui de ses Bagages, pourrait mettre en danger la sécurité, la santé, le confort ou la commodité des autres Passagers ou de l’équipage ;
   (c) L’état physique ou mental du Passager, y compris un état causé par la consommation d’alcool, de stupéfiants ou de médicaments, présente un danger voire un risque pour lui-même ou pour les autres Passagers, l’équipage ou les biens ;
   (d) Le Passager ne s’est pas conformé aux prescriptions de l’article 7.
   (e) Le passager a compromis la sécurité, le bon ordre et/ou la discipline lors de l’enregistrement du vol ou, en cas de vols en correspondance, lors d’un vol précédent et le Transporteur est fondé à croire qu’une telle conduite peut se renouveler.
   (f) Le Passager a  refusé de se soumettre aux contrôles de sûreté prévus aux articles 9.5 et 13.5, et a refusé de fournir une preuve de son identité;
   (g) Le Passager (ou la personne qui a payé le Billet) n’a pas payé le Tarif applicable et/ou tous les frais, Taxes ou redevances exigibles;
   (h) Le Passager ne semble pas posséder les documents de voyage valides, a cherché à pénétrer dans un territoire lors d’un transit, a détruit ses documents de voyage durant le vol, a refusé de les remettre au personnel navigant ou au  personnel au sol du Transporteur qui le lui demandait, ou encore ses documents de voyage sont périmés ou incomplets au regard de la réglementation en vigueur ou frauduleux (usurpation d’identité, falsification ou contrefaçon de documents) ;
   (i) Le Billet présenté par le Passager  a été acquis frauduleusement ou acheté auprès d’un organisme autre que le Transporteur ou son Agent Accrédité, a été falsifié ou contrefait ou comporte un Coupon de vol qui a été détérioré ou modifié par quelqu’un d’autre que le Transporteur ou son Agent Accrédité ;
   (j) Le Passager n’a pas utilisé les Coupons de Vol dans l’ordre d’émission, conformément aux dispositions de l’article 3.3 ci-dessus ;
   (k) Le Passager réclame au Transporteur, lors de l’enregistrement ou de l’embarquement, une assistance particulière dont le Transporteur n’a pas été informé de la nécessité au moins quarante- huit (48) heures avant le départ du  vol ;
   (l) Le Passager n’est pas en mesure de prouver qu’il est la personne désignée dans la partie «nom du passager» du Billet; le Transporteur se réserve alors le droit d’informer les autorités locales de la présence du Passager;
Dans les cas prévus aux (h), (i), (j) et (l) ci-dessus, le Transporteur se réserve le droit de conserver le Billet.</p>

<h5>8.2.    Comportement à bord</h5>
   <p>(a) Si le Transporteur estime, de manière raisonnable, que le Passager, par son comportement à bord,
-                     met en danger l’appareil, une personne ou des biens ; ou
-                     qu’il empêche l’équipage de remplir ses fonctions ; ou
-                     qu’il ne se soumet pas aux recommandations et instructions de l’équipage, notamment si celles-ci concernent l’usage du tabac, de l’alcool ou de stupéfiant ; ou
-                     qu’il se conduit d’une manière qui entraîne ou peut entraîner, pour les autres Passagers, pour l’équipage, une gêne à leur confort ou leur commodité, un Dommage ou une blessure,
Le Transporteur pourra prendre envers le Passager toutes les mesures, y compris de contrainte, qu’il jugera nécessaires pour empêcher la poursuite d’un tel comportement.
Le Passager pourra être débarqué, se voir refuser le transport pour des voyages ultérieurs à n’importe quel point du réseau et être poursuivi pour des délits ou tout acte répréhensible qu’il aurait commis à bord de l’avion.
   (b) Pour des raisons de sécurité, le Transporteur peut interdire ou limiter l’utilisation à bord de l’avion, d’équipements électroniques tels que, sans caractère limitatif, les téléphones portables, les ordinateurs portatifs, les postes de radio, les jeux électroniques, les matériels de transmission, les jeux sous contrôle radio et les postes de transmetteurs/émetteurs, ainsi que de tout autre matériel électronique ou d’enregistrement. Toutefois, les appareils de surdité et les stimulateurs cardiaques n’entrent pas dans ces catégories.</p>

<h4>ARTICLE 9 : BAGAGES</h4>

<h5>9.1.    Franchise  de Bagage</h5>
<p>La franchise Bagage correspond au poids et au nombre de bagages que le Passager peut transporter gratuitement en soute. La franchise est indiquée sur le Billet et varie en fonction des destinations et des classes.</p>

<h5>9.2.    Excédents de Bagages</h5>
<p>Le Passager devra payer un supplément pour le transport des Bagages excédant la franchise, à des conditions consultables ici.</p>

<h5>9.3.    Objets non admis comme Bagage</h5>
<p>Le Passager ne doit pas inclure dans ses Bagages :
   (a) Des objets susceptibles de constituer un danger pour l’aéronef, les personnes ou les biens à bord, comme ceux qui sont spécifiés dans les Réglementations sur les Matières Dangereuses de l’Organisation de l’Aviation Civile Internationale (OACI) et de l’Association Internationale des Transporteurs Aériens (IATA) et dans la réglementation du Transporteur, telle qu’elle est applicable (des informations supplémentaires sont disponibles auprès du Transporteur, sur demande). Il s’agit notamment des explosifs, gaz sous pression, substances oxydantes, radioactives ou magnétisées, substance inflammables, substance toxiques ou corrosives, substances liquides de toute sorte (à l’exception des liquides emportés dans les Bagages à main et destinés à l’usage personnel du Passager au cours de son voyage) ;
   (b) Des objets dont le transport est interdit par le droit en vigueur dans tout Etat de départ, de destination, de survol ou d’escales ;
   (c) Des objets dont le Transporteur estime raisonnablement que leur poids, leur dimension, leur configuration ou leur nature, fragile ou périssable, les rendent impropres au transport, compte tenu, entre autres, du type d’avion utilisé. Le Transporteur pourra refuser de transporter de tels objets dans les conditions de l’article 9.4. Une information sur ces objets peut être fournie au Passager, sur demande ;
   (d) Des armes à feu et les munitions autres que celles destinées à la chasse ou au sport, lesquelles, pour être admises comme Bagages Enregistrés, doivent être déchargées, convenablement emballées et avoir le cran de sûreté engagé. Le transport des munitions est soumis aux Réglementations sur les Matières Dangereuses de l’OACI et de l’IATA, comme indiqué au 9.3(a) ci-dessus ;
   (e) Les armes de collection, les épées, les couteaux et autres armes de ce type, ne peuvent en aucun cas être transportées en cabine. Elles peuvent néanmoins être acceptées comme Bagages Enregistrés sous réserve de l’accord du Transporteur et après acceptation du Commandant de bord.
   (f) Les matières périssables, les fonds, devises, bijoux, objets d’art, métaux précieux, argenterie, valeurs ou autres objets précieux, vêtements de prix, appareils d’optique ou de photo, matériels ou appareils électroniques ou de télécommunication, instruments de musique, passeports et pièces d’identité, échantillons, papiers d’affaires, manuscrits ou titres, individualisés ou fongibles, etc. ;
   (g) Les animaux vivants, excepté les animaux domestiques sous réserves du respect des conditions définies par l’article 9.10 ;
Dans le cas où des objets mentionnés aux sous paragraphes (a) à (f) du présent paragraphe seraient inclus dans les Bagages du Passager, la responsabilité du Transporteur prévue à l’article 15 ci-dessous ne pourra pas être engagée pour tout dommage causé à ces objets ou dû à leur perte.</p>

<h5>9.4.    Droit de refuser le transport</h5>
 <p>  (a) A tout point d’embarquement ou intermédiaire, le Transporteur peut refuser de transporter comme Bagages les objets énumérés à l’article 9.3 ci-dessus ou de continuer à les transporter s’il les découvre en cours de voyage;
  (b) Le Transporteur peut refuser de transporter comme Bagages tout objet en raison de sa taille, de sa forme, de son poids, de son contenu, de sa configuration ou de sa nature, ou pour des raisons d’exploitation ou de sécurité/sûreté ou encore pour préserver le confort et la commodité des Passagers. Des informations sur ce type de Bagages sont disponibles sur demande. Suite aux recommandations IATA relatives au poids maximum autorisé par bagage en soute, tout bagage de plus de 32kg ne sera pas pris en charge à l’enregistrement. Quelle que soit la franchise bagage accordée au Passager ou le nombre de kilos qu’il transporte, il est indispensable que le poids de chacun des Bagages ne dépasse pas la limite des 32 kilos autorisés. A défaut le Bagage ne sera pas enregistré ni transporté.
   (c) Le Transporteur pourra refuser de transporter des Bagages qu’il estime raisonnablement mal emballés ou placés dans des contenants inadaptés. Une information sur l’emballage et les contenants non adaptés est disponible sur demande.</p>

<h5>9.5.    Droit d'inspection</h5>
<p>Pour des raisons de sécurité/sûreté, le Transporteur peut demander au Passager d’accepter, pour lui et/ou ses Bagages, une fouille ou tout contrôle (de type rayons X ou autre). Si le Passager ne peut assister à l’inspection pour quelques raisons que ce soit, ses Bagages peuvent être contrôlés ou fouillés en son absence en vue de vérifier s’ils contiennent des objets non admis comme Bagages (l’article 9.3) ou encore toutes armes ou munitions qui n’auraient pas été présentées au Transporteur. Si le Passager refuse de se conformer à de telles demandes, le Transporteur pourra refuser de le transporter, ainsi que ses Bagages. Si ces contrôles endommagent les Bagages et leur contenu ou causent des Dommages au Passager, le Transporteur ne sera pas responsable, sauf si le Dommage vient directement de son fait.</p>

<h5>9.6.    Bagages Enregistrés</h5>
  <p>(a) Dès que le Passager aura remis ses Bagages à l’enregistrement, le Transporteur en assure la garde et délivre une Etiquette de Bagage, pour chaque Bagage enregistré;
   (b) Le Passager devra apposer son nom ou toute autre forme d’identification personnelle sur le Bagage avant que celui-ci soit accepté par le Transporteur ;
   (c) Les Bagages Enregistrés seront, dans la mesure du possible, transportés dans le même aéronef que le Passager, à moins que, pour des raisons d’exploitation ou de sécurité/sûreté, le Transporteur décide qu’ils seront transportés sur un autre vol. Si tel est le cas, le Bagage sera livré au point de destination du vol, sauf si le droit applicable dispose que le Passager doit être présent pour un contrôle douanier.</p>

<h5>9.7.    Bagages non Enregistrés</h5>
   <p>(a) Le Transporteur peut imposer des dimensions maxima pour les Bagages non Enregistrés et/ou en limiter le nombre (voir site internet d’Aigle Azur, ici). Si rien n’est précisé, les Bagages non Enregistrés doivent pouvoir être placés sous le siège situés devant la place du Passager ou dans un espace de rangement fermé. Les Bagages que le Passager désire emporter avec lui en cabine, mais dont le Transporteur estime le poids ou la taille excessif, dangereux pour la sécurité ou difficiles à entreposer ne pourront être acceptés en cabine et devront être embarqués comme Bagages Enregistrés, et ce à tout moment avant le départ du vol.
   (b) Les Bagages/objets qui ne doivent pas être transportés dans les soutes (tels qu’instruments de musique fragiles ou autres) et qui ne sont pas conformes aux dispositions du (a) ci-dessus, ne peuvent être acceptés au transport en cabine que si le Transporteur en a été dûment averti au préalable. Le cas échéant, le Passager peut avoir à s’acquitter d’une certaine somme pour un tel service.
   (c) Le Passager est responsable des effets personnels et des Bagages non Enregistrés qu’il conserve en cabine. En cas de destruction, vol, perte ou avarie des effets personnels et de ses Bagages non Enregistrés, la responsabilité du Transporteur ne pourra être engagée que si une faute de sa part, de ses préposés ou de ses mandataires est prouvée, cette responsabilité étant alors limitée au montant défini à l’article 15.</p>

<h5>9.8.    Déclaration Spéciale d’Intérêt et perception de frais supplémentaires</h5>
   <p>(a) Pour tout Bagage enregistré dont la valeur est supérieure aux limites de responsabilité prévues par la Règlement, en cas de destruction, perte, détérioration ou retard, le Passager pourra, soit assurer personnellement l’ensemble de ses Bagages avant le voyage, soit effectuer, au moment de la remise de ses Bagages au Transporteur, une Déclaration Spéciale d’Intérêt limitée à un certain montant. Par conséquent, un supplément tarifaire pourra être acquitté par le Passager. L’indemnisation s’effectuera alors en fonction des dispositions de l’article 15.
   (b) Le Transporteur pourra refuser ladite Déclaration, si l’une des portions du transport doit être effectuée par un Transporteur, qui n’offre pas cette possibilité.
   (c) Toute Déclaration Spéciale d’Intérêt doit être effectuée par le Passager avant l’Heure Limite d’Enregistrement. Le Transporteur dispose en outre de la faculté de plafonner à un montant maximum le niveau des déclarations susceptibles d’être souscrites. Le Transporteur est également en droit de rapporter la preuve, en cas de survenance d’un dommage, que la somme déclarée était supérieure à l’intérêt réel du Passager à la livraison. </p>

<h5>9.9.    Retrait et livraison des Bagages</h5>
  <p> (a) Sous réserve des dispositions de l’article 9.6 (d) du présent article, le Passager doit retirer ses Bagages dès qu’ils sont mis à sa disposition, au lieu de destination ou d’arrêt volontaire. S’il ne le fait pas dans un délai raisonnable, le Transporteur pourra lui facturer des frais de garde d’un montant raisonnable. S’il ne les retire pas dans un délai de trois (3) mois à compter de leur mise à disposition, le Transporteur pourra en disposer, sans engager sa responsabilité envers le Passager ;
   (b) Seul le porteur du Bulletin de Bagages et de l’Etiquette de Bagage est habilité à retirer le Bagage;
   (c) Si une personne réclamant un Bagage n’est pas en mesure de produire le Bulletin de Bagages et d’identifier le Bagage au moyen de l’Etiquette de Bagage, le Transporteur ne lui remettra le Bagage qu’à condition qu’elle établisse ses droits sur celui-ci d’une façon satisfaisante ; à la demande du Transporteur, cette personne devra fournir une garantie suffisante pour indemniser le Transporteur des pertes, dommages ou dépenses qui pourraient résulter d’une telle livraison.</p>

<h5>9.10. Animaux</h5>
<p>Si le Transporteur accepte de transporter des animaux, il le fera dans les conditions suivantes :
   (a) Les chiens, chats, oiseaux et autres animaux domestiques doivent être convenablement placés dans une caisse à claire-voie et accompagnés de documents en règle, tels que certificats sanitaires, de vaccination et permis d’entrée ou de transit. Selon les destinations, le transport de ces animaux peut être soumis à des conditions, dont on peut prendre connaissance auprès du Transporteur, sur demande ;
    (b) S’il est accepté comme Bagage, l’animal et sa caisse ne seront pas compris dans la franchise de bagages mais constitueront un excédent de Bagages pour lequel le Passager devra s’acquitter du tarif en vigueur ;
    (c) Les chiens guides, ainsi que leur caisse, accompagnant les Passagers à Mobilité Réduite seront transportés gratuitement, en sus de la franchise de bagages normale, conformément à la réglementation du Transporteur, disponible sur demande ;
    (d) Quand le transport n’est pas soumis au régime de responsabilité de la Convention, le Transporteur n’est pas responsable pour toute blessure, perte, retard, maladie ou mort d’un animal qu’il aurait accepté de transporter, sauf si ce Dommage est de son fait ;
    (e) Le Transporteur n’engage pas sa responsabilité quant aux blessures, pertes, retards, maladies ou mort des animaux transportés, dans le cas où ceux-ci ne seraient pas pourvus de tous les documents exigés par les autorités du pays d’accueil ou de transit et les Passagers voyageant avec de tels animaux devront rembourser les amendes, pertes, réparations et tous les coûts que le Transporteur aurait engagés du fait d’une telle situation.</p>

<h4>ARTICLE 10 : HORAIRES, RETARDS, ANNULATIONS DE VOL</h4>

<h5>10.1. Horaires</h5>  
   <p>(a) Les Horaires peuvent changer entre la date de leur publication et celle du vol réservé par le Passager. Le Transporteur ne garantit pas ces Horaires et ils ne font pas partie du Contrat de Transport.
   (b) Avant d’accepter la Réservation du Passager, le Transporteur indiquera les Horaires applicables, qui seront reproduits sur le Billet. Il est possible que les Horaires de vol programmés soient modifiés postérieurement à l’achat du Billet. Si, après l’achat du Billet, un changement d’horaire important intervient, qui ne convient pas au Passager, et si le Transporteur ne peut lui proposer une Réservation alternative satisfaisante, le Passager aura le droit au remboursement de son Billet, comme prévu à l’article 11.2.
   (c) Il appartient au Passager de communiquer au Transporteur ses coordonnées afin qu´il puisse être contacté en cas de changement d´Horaires de vol  programmés tels que reproduits sur son Billet. </p>

<h5>10.2. Retards, annulation, réacheminement</h5>
   <p>(a) En cas de retard de vol d’au moins cinq (5) heures, le Passager a le choix entre :
-      Renoncer à son voyage, dans ce cas il demande le remboursement de son Billet.
-      Continuer son voyage, dans ce cas il ne pourra prétendre au remboursement de son Billet.
La prise en charge des Passagers qui attendent un vol de remplacement ou un vol retardé peut être limitée ou refusée si cette prise en charge est susceptible de prolonger le retard.
   (b) Si, du fait d’une surréservation programmée, le Transporteur n’est pas en mesure d’attribuer une place au Passager alors qu’il possède une Réservation confirmée, il lui sera accordé la compensation prévue par la législation applicable. Si plusieurs compensations sont possibles, il bénéficiera de la plus favorable.</p>

<h4>ARTICLE 11 : REMBOURSEMENTS</h4>

<h5>11.1. Généralités</h5>
<p>En conformité avec la réglementation tarifaire, le Transporteur remboursera tout ou partie d’un Billet dans les conditions suivantes :
   (a) Sauf dispositions contraires dans le présent article, le Transporteur sera habilité à effectuer le remboursement, à la personne qui a payé le Billet, sur présentation par celle-ci de la preuve suffisante de ce paiement ;
   (b) si un Billet a été payé par une personne autre que celle dont le nom figure sur le Billet et si aucune restriction au remboursement n’est mentionnée sur ce Billet, le Transporteur effectuera le remboursement à la personne qui a payé le Billet, ou à toute personne que celle-ci désignera ;
   (c) un remboursement fait à une personne remettant au Transporteur le Coupon Passager ou le Reçu Passager ainsi que tous les Coupons de vol inutilisés et se présentant comme la personne ayant droit au remboursement, conformément aux sous paragraphes (a) et (b) ci-dessus, sera considéré comme valable et déchargera le Transporteur de toute responsabilité et de toute réclamation ultérieure de remboursement.</p>

<h5>11.2. Remboursements Involontaires</h5>
<p>Sous réserve des dispositions de l’article 10, si le Transporteur annule un vol ou l’exécute dans des délais excessifs par rapport à l’Horaire programmé ou si le vol ne s’arrête pas au point d’arrêt volontaire ou de destination ou fait manquer au Passager un vol en correspondance, dans les limites d’un Contrat de Transport unique, le montant du remboursement sera équivalant :
   (a)  au tarif payé, si aucune partie du Billet n’a été utilisée ;
   (b) à la différence entre le tarif payé et le tarif correspondant au transport non effectué par rapport au parcours marqué sur le Billet, si une partie du Billet a été utilisée.</p>

<h5>11.3. Autres remboursements</h5>
  <p> (a) Si le Passager est en droit de se faire rembourser son Billet, pour des raisons autres que celles mentionnées au paragraphe (2) de cet article, le montant du remboursement sera d’un montant équivalant :
-          au tarif payé, moins des frais de dossier et les frais d’annulation afférent au tarif payé, si aucune partie du Billet n’a été utilisée ; 
-          à la différence entre le Tarif payé et le Tarif applicable au parcours prévu pour lequel le Billet a été utilisé, moins des frais de dossier ou d’annulation raisonnables, si une partie du Billet a été utilisée.
   (b) Les remboursements visés à ce paragraphe ne peuvent être effectués quand les prescriptions gouvernementales ou tout autre document contractuel entre le Passager et le Transporteur les excluent. C’est notamment le cas des Billets portant la mention "non remboursable".</p>

<h5>11.4. Droit de refuser le remboursement</h5>
<p>Le Transporteur peut refuser le remboursement :
   (a) de tout Billet, après l’expiration de sa validité ;
   (b) d’un Billet qui aura été présenté au Transporteur ou aux autorités d’un pays, comme preuve d’intention de départ de ce pays, à moins que le Passager fournisse une preuve satisfaisante pour le Transporteur qu’il a la permission de séjourner dans ledit pays ou qu’il partira par l’intermédiaire d’un autre Transporteur ou par un autre moyen de transport ;
   (c) Si le Passager n’a pas été admis par les autorités de destination ou de transit de son voyage et s’il a été, de ce fait, renvoyé à son point d’embarquement ;
   (d) d’un Billet dérobé, falsifié ou contrefait ;
   (e) dans une monnaie différente de celle dans laquelle a été effectué le paiement ;
   (f) d’un Billet émis frauduleusement en violation de la loi française ou d’une loi étrangère ;
   (g) d’un Billet portant la mention "non remboursable".</p>

<h5>11.5. Monnaie de remboursement</h5>
   <p>(a) Sous réserve du droit applicable, le Transporteur se réserve le droit d’effectuer le remboursement sous la même forme (doit on comprendre qu’un pax qui a réglé son billet « cash » se verra rembourser ce même billet en cash ?) et dans la même monnaie que celle utilisée lors de l’achat du Billet.
   (b) Si le Transporteur accepte de rembourser le prix du Billet dans une monnaie différente de la monnaie d’achat, ce remboursement sera effectué à un taux de change et dans des conditions déterminées par le Transporteur.</p>

<h5>11.6. Personnes habilitées à rembourser</h5>
<p>Les remboursements sont effectués seulement par le Transporteur qui a initialement émis le Billet ou par un Agent Accrédité, s’il y est autorisé par ce Transporteur.</p>

<h4>ARTICLE 12 : PRESTATIONS ANNEXES</h4>
   <p> (a) Si, dans le cadre d’un Contrat de Transport et sous réserve du droit applicable, le Transporteur accepte de prendre des dispositions, par le biais de tiers, pour fournir au Passager des services supplémentaires autres que le transport par air ou s’il émet un Billet ou un avoir concernant un transport ou des services (autres qu’un voyage aérien), tels que, par exemple, des Réservations d’hôtels ou des locations de voiture, le Transporteur ne sera que le mandataire du Passager.
Les conditions de transport ou de vente de ces tiers seront applicables et la responsabilité du Transporteur ne pourra pas être engagée à l’égard du Passager, sauf en cas de faute prouvée de sa part.
    (b) Si ces prestations annexes font l’objet de publicité sur le site www.aigle-azur.fr ou sur tout ou média, Aigle Azur ne sera en aucun cas responsable de la fourniture correcte de ces prestations ou pour tout autre aspect.
    (c) Si le Transporteur fournit des prestations de transport terrestre, d’autres conditions de transport et, en particulier, d’autres régimes de responsabilité peuvent s’appliquer à ces transports de surface. Ces conditions et régimes sont disponibles, sur demande, auprès du Transporteur ou de la personne morale assurant le transport de surface, selon les cas.</p>

<h4>ARTICLE 13 : FORMALITES ADMINISTRATIVES</h4>

<h5>13.1. Généralités</h5>
<p>Le Passager est responsable de l'obtention de tous les documents nécessaires à son voyage, y compris les visas et tout permis particulier qui serait exigible par les dispositions légales et réglementaires en vigueur dans les Etats de départ, de destination ou de transit, et il devra se conformer aux exigences des autorités de ces pays en matière d'immigration et de contrôle aux frontières.
Le Transporteur n’est pas responsable des conséquences que pourrait subir le Passager pour ne pas avoir respecté les obligations énoncées ci-dessus.</p>

<h5>13.2. Documents de voyage</h5>
   <p>(a) le Passager doit présenter tous les documents d'entrée, de sortie et de transit, les documents sanitaires et autres exigés par les lois ou règlements en vigueur dans les Etats concernés et permettre au Transporteur d'en prendre copie, si besoin est, selon sa seule appréciation.
   (b) le Transporteur se réserve le droit, conformément à l’article 8.1 (a), de refuser le transport au Passager qui ne se conforme pas aux lois et règlements en vigueur ou si ses documents de voyage semblent ne pas être en règle.</p>

<h5>13.3. Refus d'entrée</h5>
<p>Si l’admission d’un Passager sur un territoire est refusée, il devra payer tous les frais en résultant. Le Transporteur ne remboursera pas le prix du Billet réservé pour arriver sur le territoire où le Passager n’a pas été admis. De la même manière, le Transporteur ne remboursera pas le tronçon inutilisé.
Le refus d’entrer sur le territoire opposé à un Passager ne peut en aucun cas engager la responsabilité du Transporteur.</p>

<h5>13.4. Contrôles douaniers</h5>
<p>Si la demande lui est faite, le Passager devra assister à l'inspection de ses Bagages, non Enregistrés ou Enregistrés, par la douane ou toute autre autorité gouvernementale. Le Transporteur n’assumera aucune responsabilité pour tout Dommage ou perte que peut subir le Passager s’il néglige d'observer la présente disposition.

<h5>13.5. Contrôle de sûreté</h5>
Le Passager doit se soumettre à tous les contrôles de sûreté exigés par les autorités gouvernementales ou aéroportuaires ou par le Transporteur.</p>

<h4>ARTICLE 14 : TRANSPORTEURS SUCCESSIFS</h4>

<p>Le transport à effectuer par plusieurs Transporteurs successifs, sous couvert d'un seul Billet ou de plusieurs Billets émis conjointement, est considéré comme une opération unique aux termes de la Convention lorsqu´il a été envisagé par les parties comme une seule opération.. A ce sujet, les dispositions de l’article 15.1 (b) s’appliquent.</p>

<h4>ARTICLE 15 : RESPONSABILITE POUR DOMMAGES</h4>

<h5>15.1. Considérations générales</h5>
<p>La responsabilité de tout Transporteur est déterminée par les Conditions Générales de Transport du Transporteur émetteur du Billet, sauf dispositions contraires portées à la connaissance du Passager. Quand elle sera engagée, la responsabilité du Transporteur sera mise en jeu dans les conditions suivantes :
   (a) Le transport effectué sous couvert des présentes Conditions Générales de Transport est soumis aux règles de responsabilité édictées par les Convention, Règlements et Accords IATA définis à l'article 1er.
   (b) Dans la mesure où ce qui suit ne fait pas échec aux autres dispositions des présentes Conditions Générales de Transport,  que la Convention soit ou non applicable :
-          La responsabilité du Transporteur est limitée au Dommage survenu au cours des vols pour lesquels son Code de Désignation apparaît sur le Coupon ou le Billet correspondant au vol. Lorsque le Transporteur émet un Billet ou lorsqu’il enregistre un Bagage sur les lignes d'un autre Transporteur, au sens de l’article 1er, il n’agit qu'à titre de mandataire de ce dernier. Toutefois, en ce qui concerne les Bagages Enregistrés, le Passager a droit à un recours contre le premier ou le dernier Transporteur intervenant dans son voyage ;
-          La responsabilité du Transporteur ne pourra excéder le montant des Dommages prouvés. Celui-ci ne sera en aucun cas responsable des Dommages indirects ou de toute forme de Dommage non compensatoire ;
-          Le Transporteur n’assume aucune responsabilité pour les Dommages résultant de l'observation de toutes dispositions légales ou réglementaires, ou de l’inobservation, par le Passager, de ces mêmes dispositions ;
-          Le Transporteur n’est pas responsable pour toute maladie, blessure ou handicap, y compris la mort, dues à la condition physique du Passager ou pour toute aggravation de ladite condition ;
-          Le Contrat de Transport, y compris ces Conditions Générales de Transport et toutes les exclusions ou limitations de responsabilité qui y figurent s'appliquent et bénéficient aux Agents Accrédités, aux employés et représentants du Transporteur et au propriétaire de l'avion utilisé par le Transporteur, ainsi qu'aux agents, employés et représentants de ce propriétaire. Le montant global recouvrable auprès des personnes susmentionnées ne pourra excéder le montant  de la  responsabilité du Transporteur;
-          Si la négligence ou un autre acte ou omission préjudiciable de la personne qui demande réparation ou de la personne dont elle tient ses droits a causé le Dommage ou y a contribué, le Transporteur se verra en tout ou partie exonéré de sa responsabilité à l’égard de cette personne y compris en cas de décès ou de lésion corporelle selon le droit en vigueur.
-          Sauf dispositions expresses conformes à la Convention, aucune des dispositions des présentes Conditions n’emporte renonciation aux limitations de responsabilité édictées par la Convention et le droit applicable.</p>

<h5>15.2. Dispositions applicables aux vols internationaux et intérieurs</h5>
 <p>  (a) Dommages corporels :
-          En conformité avec l'article 17 de la Convention, le Transporteur est responsable du dommage survenu en cas de mort, de blessure ou de toute autre lésion corporelle subie par un Passager, lorsque l'accident qui a causé le Dommage s'est produit à bord de l'aéronef ou au cours de toutes opérations d'embarquement et de débarquement, au sens de la Convention, et sous réserve des limitations de responsabilité précisées ci-dessous ;
-          Le Transporteur pourra exclure ou limiter sa responsabilité s’il apporte la preuve que :
§  La mort, la blessure ou toute autre lésion corporelle survenue résulte, en tout ou partie, de la faute du Passager ou de son état de santé physique ou mental antérieur à son embarquement ;
§  Il a pris toutes les mesures pour éviter la survenance du Dommage ou qu’il ait été dans l'impossibilité de les prendre pour les dommages excédant 113.100 DTS, conformément à l'article 20 de la Convention.
-          Montant du Dommage réparable : le montant de la responsabilité du Transporteur en cas de mort, de blessure ou de toute autre lésion corporelle d'un Passager est soumis aux dispositions de la Convention. Le montant du Dommage réparable couvrira la réparation du Dommage, telle qu’elle aura été fixée par accord amiable, par voie d'expertise ou par les tribunaux compétents. Dans le cadre des présentes dispositions, le Transporteur n’indemnisera le Passager qu'au-delà des montants reçus par ce dernier, au titre du régime social auquel il est affilié.
-          Le transporteur se réserve tout droit de recours et de subrogation contre tout tiers ;
-          La personne ayant droit a indemnisation, en application de l’article 5 du Règlement n° 2027/97, pourra bénéficier d'une avance lui permettant de faire face à ses besoins immédiats, en proportion du préjudice matériel subi. Cette avance ne sera pas inférieure à l'équivalent en EURO de 16.000 DTS par Passager en cas de décès. Sous réserve du droit applicable, cette avance sera payée dans les quinze (15) jours de l'identification de la Personne ayant droit à l’indemnisation et sera déductible du montant définitif des réparations dues au Passager victime d’un dommage ou aux ayants-droits de ce dernier.
En tout état de cause, le paiement de cette avance ne constitue en aucun cas une reconnaissance de responsabilité de la part du Transporteur. Cette avance devra, par ailleurs, être remboursée par le Passager s’il est établi que la responsabilité du Transporteur n’est pas en cause dans le dommage du Passager en application des règles de la Convention.
   (b) Retard :
Le retard n'est pas en soi une source de Dommage. Sans préjudice du Règlement (CE) n°261/2004, seul le Dommage direct prouvé résultant du retard est réparable à l'exclusion de tout dommage indirect et de toute forme de dommage.
Le Passager devra établir l’existence du Dommage résultant du retard.
Le Transporteur n’est pas responsable du Dommage résultant du retard s’il prouve qu’il a pris toutes les mesures nécessaires pour éviter le Dommage ou qu'il était impossible de les prendre.
S’il apporte la preuve de la faute du Passager, le Transporteur n’est pas responsables du Dommage né du retard.
Outre les indemnités pour retard prévues par le Règlement (CE) n°261/2004,  le montant de la réparation est fonction du Dommage prouvé par le Passager dans la limite fixée à 4.694 DTS par la Convention.
   (c) Bagages :
En cas de destruction, retard, perte et avarie bagage imputable au Transporteur, tout remboursement se fera sous réserve de la présentation des justificatifs et ce dans les limites de responsabilité fixées à 1.131 DTS par Passager par la Convention de Montréal.
Si le Passager n’est pas en mesure de présenter de tels justificatifs, le Transporteur l’indemnisera sur une base forfaitaire.
Si une valeur supérieure a été déclarée dans le cadre d’une Déclaration Spéciale d’Intérêt conformément à l'article 9.8, la responsabilité du Transporteur sera limitée à cette valeur déclarée.
Le Transporteur n’est pas responsable des Dommages causés aux Bagages des Passagers lorsque ces Dommages sont causés par des objets contenus dans lesdits Bagages.
Si les biens du Passager sont la cause un préjudice au Transporteur ou à un tiers, il devra indemniser le Transporteur pour toutes les pertes subies et les dépenses encourues du fait de ce Dommage.
Le Transporteur n’assume aucune responsabilité  pour tout Dommage et/ou perte causés à des objets fragiles ou périssables ou de valeur, tels que mentionnés à l'article 9.3 ci-dessus, sauf si le Passager a effectué une Déclaration Spéciale d’Intérêt prévue à l'article 9.8 (a).
En cas de retard de la livraison des Bagages Enregistrés, le Transporteur pourra dédommager le Passager sur une base forfaitaire correspondant aux frais de première nécessité résultant de l'attente de la livraison des Bagages Enregistrés.</p>

<h4>ARTICLE 16 : DELAI DE PROTESTATION ET D’ACTION EN RESPONSABILITE</h4>

<h5>16.1. Délais de protestation pour les Bagages</h5>
   <p> (a) La réception des Bagages Enregistrés sans protestation signifie que le Bagage a été livré en bon état en conformité avec les termes du Contrat de Transport, sauf preuve contraire, dont le Passager à la charge de rapporter.
    (b) En cas d’avarie, le Passager doit adresser par écrit une protestation au Transporteur dès la découverte de l’avarie. Il dispose d’un délai de sept (7) jours à compter de la réception de son Bagage enregistré pour notifier l’avarie. Si le Bagage enregistré a été livré avec du retard, ce délai est porté à vingt et un (21) jours à compter du jour où les Bagages ont été mis à la disposition du Passager. A défaut de protestation dans les délais prévus, toute action intentée contre le Transporteur sera irrecevable.
    (c) En cas de perte de Bagage, le Passager doit impérativement déclarer la perte auprès du service bagage avant sa sortie de l’aérogare. Toute déclaration effectuée a posteriori sera irrecevable et ne pourra faire l’objet d’un dédommagement quelconque.</p>

<h5>16.2. Action en responsabilité pour les Passagers</h5>
<p><p>
</p>Toute action en responsabilité doit être intentée, sous peine de déchéance, dans un délai de deux (2) ans à compter de l'arrivée à destination ou du jour prévu de l'arrivée de l'aéronef ou de l'arrêt du transport. Le mode de calcul du délai est déterminé par la loi du tribunal saisi.

<h5>16.3.  Réclamations</h5>
Toutes réclamations ou actions mentionnées aux paragraphes 1 et 2 ci-dessus doivent être faites par écrit dans les délais indiqués.</p><p>
</p>

<h4>ARTICLE 17 : DONNEES PERSONNELLES</h4>

<h5>17.1. Traitement informatique</h5>
<p>
</p>Le Passager communique au Transporteur ou à son Agent Accrédité des Données Personnelles le concernant dans le but d´effectuer une Réservation, d´obtenir des services complémentaires, de faciliter les formalités d´immigration et d´entrer sur le territoire d´un Etat. Ces informations personnelles communiquées au Transporteur dans le cadre de la souscription et de l'exécution du Contrat de Transport sont susceptibles de faire l'objet d'un traitement informatique. Ces informations sont collectées et traitées conformément à la loi n°78-17 du 6 janvier 1978 relative à l´Informatique, aux fichiers et aux libertés.<p>
</p>

<h5>17.2.  Finalités</h5>
  <p>(a) Les données communiquées par le Passager sont principalement utilisées aux fins :
-       de Réservation et d'achat de Billet.
-       de fourniture de prestations annexes en lien avec la prestation de transport.
-       de prospection, fidélisation, animation et information commerciale.
-       de réalisation d'études statistiques.
    (b) Elles sont également susceptibles d'être utilisées aux fins de faciliter l´accomplissement des formalités administratives relatives à l´immigration et à l´entrée sur le territoire, de prévention des impayés et de lutte contre la fraude, ainsi que d'assurer la sécurité et la sûreté des vols.
    (c) Le Passager autorise le Transporteur, pour les buts mentionnés ci-dessus, à détenir de telles informations et à les transmettre à ses propres agences, à ses Agents Accrédités, aux autorités gouvernementales, aux Transporteurs, et aux prestataires des services, quels que soient l’état ou le territoire où ils sont situés.</p>

<h5>17.3. Données sensibles</h5>
<p>Le Passager est informé et accepte que la fourniture de certaines prestations annexes (repas spéciaux, assistance médicale) puisse conduire le Transporteur à enregistrer dans ses traitements des informations susceptibles de relever de l'article 8 de la loi dite "informatique et libertés" modifiée. Ces informations sont exclusivement utilisées dans le cadre des services annexes spécifiques sollicités par le Passager.</p>

<h5>17.4. Liste noire</h5>
<p>Le Passager est informé que tout incident survenu lors de l'exécution du Contrat de Transport et susceptible de porter atteinte à la sécurité ou la sûreté d'un vol peut faire l'objet d'un enregistrement informatique sur une liste spécifique.
Dans le cadre de cet enregistrement informatique, notamment s’il est accompagné de poursuites judiciaires, le Transporteur pourra interdire au Passager de voyager sur son réseau pendant un temps donné.
Si le Transporteur était amené à prendre une telle décision, il en avertirait par écrit le Passager.</p>

<h5>17.5. Destinataires</h5>
<p>Les données collectées sont susceptibles d'être communiquées au personnel habilité du Transporteur, de ses partenaires (Agents Accrédités, Transporteurs, etc.) ou de ses fournisseurs de prestations annexes, dans le cadre de l'accomplissement de tout ou partie des finalités visées ci-dessus.</p>

<h5>17.6. Transfert de données</h5>
<p>Conformément aux lois et règlements applicables en France et au niveau international, le Transporteur est par ailleurs parfois tenu de mettre des informations personnelles à la disposition d'autorités publiques françaises ou étrangères habilitées (douanes, immigration, etc.), en particulier à des fins de prévention et de lutte contre le terrorisme ou d'autres délits graves.
Il est précisé que certains des destinataires mentionnés ci-dessus sont susceptibles d'être établis en dehors de l´Union Européenne et d'avoir accès à tout ou partie des informations personnelles collectées par le Transporteur (nom, prénom, numéro de passeport, détails du voyage, etc.), et ce, aux bonnes fins d'exécution du Contrat de Transport du Passager ou en raison d'une habilitation légale spécifique. Les transferts de données effectués en dehors de l´Union européenne sont réalisés conformément aux conditions définies aux articles 68 et suivants de la loi dite « informatique et libertés ».</p>

<h5>17.7. Droit d’accès</h5>
<p>En application de la loi dite "informatique et libertés", le Passager dispose de droits d´accès, de rectification, de suppression ou d´opposition sur les données le concernant. Ces droits s'exercent par courrier postal à l'adresse suivante : AIGLE AZUR, Webmaster, 4 avenue Marcel Paul – 93297 Tremblay en France.</p>

<h5>17.8. Utilisation des données</h5>
<p>Sous réserve de la réglementation en vigueur, le Transporteur se réserve la possibilité d'utiliser les données du Passager dans les conditions et pour les finalités définies dans le présent article.</p>

<h5>17.9. Communication et prospection commerciale</h5>
  <p> (a) Sauf opposition du Passager exprimée lors de la collecte de ses données ou adressée par courrier à l´adresse susvisée, le Transporteur se réserve la possibilité d'utiliser les données du Passager ou de les communiquer à ses partenaires afin de pouvoir lui adresser des offres commerciales adaptées.
   (b) Lorsque la loi l'exige (prospection commerciale par voie électronique), les données du Passager ne seront utilisées à des fins de prospection, notamment commerciale, par le Transporteur ou ses partenaires que si le Passager a donné son accord pour un tel usage au moment de la communication de ses Données Personnelles. Le Passager pourra, ultérieurement, s´opposer à ce que les données le concernant soient utilisées à de telles fins en adressant un courrier à l´adresse susvisée.</p>

<h5>17.10. Nécessité</h5>
<p>Il est précisé que la collecte de certaines Données Personnelles est indispensable pour permettre la Réservation et établir le Contrat de Transport. Le Passager peut naturellement exercer son droit d'opposition à la collecte et au traitement de ces Données mais est informé que cette démarche peut entraîner l'annulation du voyage ou l'impossibilité d'accéder à certaines prestations annexes spécifiques demandées. Il est également rappelé que, conformément aux lois et règlements applicables en France et au niveau international, l'absence de communication de certaines données ou l'inexactitude de certaines données peut conduire à une décision de refus d'embarquement ou d'entrée sur un territoire étranger, et ce, sans que la responsabilité du Transporteur ne puisse être engagée.</p>


      </div>
    </div>
{% endblock %}