html {
  font-size: 2em;
  font: 400 1.3125em/1.5 cambria, georgia, sans-serif;
  height: 100%;
  width: 100%;

}

body {
  /*background-color: white;*/
  background-image: url(../img/gplaypattern.png);
  background-repeat: repeat-x repeat-y;
 /* font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;*/
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  padding-left: 10px;
 /* font-family: 'Libre Baskerville', serif;;
  font-weight: inherit;*/
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

a{
  color:White;
}
a:hover{
  text-decoration: none;
  color: #70b7ba;
}

.body{
  min-height: 1000px;
  background-color: #e7e1d4; /*beige*/
  position: center;
  margin: auto;
  opacity: 0.9;
  z-index: -1;
}