.header{
  background-color: #3d4c53; 
  margin: 0;
  top:0;
  width: 100%;
  height: 130px;
  z-index: 20;
}
.header-left{
  height: 100%;
  margin:0;
}

.header-center{
  height: 100%;
  margin-left: 0
}

.header-right{
  text-align: center;
  height: 100%;
  color: #70b7ba;
}
.header-left img{
  padding-left: 10px;
  width: 120px;
  height: 120px;
}
.header-right img{
  padding-top: 10px;
  padding-left: 10px;
  width: 75px;
  height: 75px;
}

.header-right a:hover{
  text-decoration: none;
  color: #f1433f
}


.menu{
  margin-top: 50px;
  font-weight : bold;
  color: #70b7ba;
  text-align: center;
}

.menu li{
  display : inline;
  list-style: none;
  color: #70b7ba;
}

.menu a{
  text-align: center;
  vertical-align: middle;
  font-size: 1.600em;
  color: #70b7ba;

}
.menu a:hover{
  color: #f1433f;
}
