.sphere{
  float: right;
  width: 310px;
  height: 300px;
  border-radius: 150px;
  background: white url(../img/logoAA.png) center center;
  margin-top: -320px;
  margin-right: 25px;
  border:solid;
}
