.sphere{
  float: right;
  width: 310px;
  height: 300px;
  margin-top: -310px;
  margin-right: 25px;
  border-radius: 150px;
  background: url(../img/globe.png);
  background-size: cover;
  background-position: center;
}

.home{
  opacity: 0.8;
}
